<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="User" type="org.youngjin.net.login.User"/>
		<typeAlias alias="UserFilter" type="org.youngjin.net.util.UserFilter"/>
		<typeAlias alias="Code" type="org.youngjin.net.code.Code"/>
		<typeAlias alias="GBL" type="org.youngjin.net.GBL"/>
		<typeAlias alias="GBlock" type="org.youngjin.net.process.GBlock"/>
		<typeAlias alias="OutboundFilter" type="org.youngjin.net.outbound.OutboundFilter"/>
		<typeAlias alias="GBLStatus" type="org.youngjin.net.GBLStatus"/>
		<typeAlias alias="GBLAttachment" type="org.youngjin.net.GBLAttachment"/>
		<typeAlias alias="PreMoveSurvey" type="org.youngjin.net.outbound.PreMoveSurvey"/>
		<typeAlias alias="Memorandum" type="org.youngjin.net.memorandum.Memorandum"/>
		<typeAlias alias="MemorandumList" type="org.youngjin.net.memorandum.MemorandumList"/>
		<typeAlias alias="Dd619" type="org.youngjin.net.Dd619"/>
		<typeAlias alias="Weightcertificate" type="org.youngjin.net.outbound.Weightcertificate"/>
		<typeAlias alias="TruckManifast" type="org.youngjin.net.outbound.TruckManifast"/>
		<typeAlias alias="BookingList" type="org.youngjin.net.outbound.BookingList"/>
		<typeAlias alias="Addition" type="org.youngjin.net.outbound.Addition"/>
		<typeAlias alias="DeliveryGbl" type="org.youngjin.net.outbound.DeliveryGbl"/>
		
		
		<typeAlias alias="Rate" type="org.youngjin.net.invoice.Rate"/>
		<typeAlias alias="Invoice" type="org.youngjin.net.invoice.Invoice"/>
		<typeAlias alias="InvoiceFilter" type="org.youngjin.net.invoice.InvoiceFilter"/>
		<typeAlias alias="InvoiceGbl" type="org.youngjin.net.invoice.InvoiceGbl"/>
		<typeAlias alias="InvoiceGblContent" type="org.youngjin.net.invoice.InvoiceGblContent"/>
		
		<typeAlias alias="InboundFilter" type="org.youngjin.net.inbound.InboundFilter"/>
	</typeAliases>
</configuration>