<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="Branch" type="org.youngjin.net.basic.Branch"/>
		<typeAlias alias="Pod" type="org.youngjin.net.basic.Pod"/>
		<typeAlias alias="Company" type="org.youngjin.net.basic.Company"/>
		<typeAlias alias="Carrier" type="org.youngjin.net.basic.Carrier"/>
	
		<typeAlias alias="User" type="org.youngjin.net.login.User"/>
		<typeAlias alias="UserFilter" type="org.youngjin.net.util.UserFilter"/>
		<typeAlias alias="Code" type="org.youngjin.net.code.Code"/>
		<typeAlias alias="GBL" type="org.youngjin.net.GBL"/>
		<typeAlias alias="GBlock" type="org.youngjin.net.process.GBlock"/>
		<typeAlias alias="OutboundFilter" type="org.youngjin.net.outbound.OutboundFilter"/>
		<typeAlias alias="GBLStatus" type="org.youngjin.net.GBLStatus"/>
		<typeAlias alias="GBLAttachment" type="org.youngjin.net.GBLAttachment"/>
		<typeAlias alias="PreMoveSurvey" type="org.youngjin.net.outbound.PreMoveSurvey"/>
		<typeAlias alias="Memorandum" type="org.youngjin.net.memorandum.Memorandum"/>
		<typeAlias alias="MemorandumList" type="org.youngjin.net.memorandum.MemorandumList"/>
		<typeAlias alias="Dd619" type="org.youngjin.net.Dd619"/>
		<typeAlias alias="Weightcertificate" type="org.youngjin.net.outbound.Weightcertificate"/>
		<typeAlias alias="TruckManifast" type="org.youngjin.net.outbound.TruckManifast"/>
		<typeAlias alias="BookingList" type="org.youngjin.net.outbound.BookingList"/>
		<typeAlias alias="Addition" type="org.youngjin.net.outbound.Addition"/>
		<typeAlias alias="DeliveryGbl" type="org.youngjin.net.outbound.DeliveryGbl"/>
		<typeAlias alias="Container" type="org.youngjin.net.Container"/>
		<typeAlias alias="Tcmd" type="org.youngjin.net.outbound.Tcmd"/>
		<typeAlias alias="House" type="org.youngjin.net.outbound.House"/>
		
		
		<typeAlias alias="Rate" type="org.youngjin.net.invoice.Rate"/>
		<typeAlias alias="Invoice" type="org.youngjin.net.invoice.Invoice"/>
		<typeAlias alias="InvoiceCollection" type="org.youngjin.net.invoice.InvoiceCollection"/>
		<typeAlias alias="InvoiceCollectionFlow" type="org.youngjin.net.invoice.InvoiceCollectionFlow"/>
		<typeAlias alias="InvoiceFilter" type="org.youngjin.net.invoice.InvoiceFilter"/>
		<typeAlias alias="InvoiceGbl" type="org.youngjin.net.invoice.InvoiceGbl"/>
		<typeAlias alias="InvoiceGblContent" type="org.youngjin.net.invoice.InvoiceGblContent"/>
		<typeAlias alias="InvoiceGblFilter" type="org.youngjin.net.invoice.InvoiceGblFilter"/>
		
		<typeAlias alias="InboundFilter" type="org.youngjin.net.inbound.InboundFilter"/>
		<typeAlias alias="WeightIb" type="org.youngjin.net.inbound.WeightIb"/>
		<typeAlias alias="InboundInvoice" type="org.youngjin.net.inbound.InboundInvoice"/>
		<typeAlias alias="OnHandList" type="org.youngjin.net.inbound.OnHandList"/>
		<typeAlias alias="OnHandListContent" type="org.youngjin.net.inbound.OnHandListContent"/>
		<typeAlias alias="OnHandListContentWeight" type="org.youngjin.net.inbound.OnHandListContentWeight"/>
		<typeAlias alias="TruckManifastIb" type="org.youngjin.net.inbound.TruckManifast"/>
		<typeAlias alias="Reweight" type="org.youngjin.net.inbound.Reweight"/>
		<typeAlias alias="ReweightContent" type="org.youngjin.net.inbound.ReweightContent"/>
	</typeAliases>
</configuration>