@CHARSET "UTF-8";

/* base Style */

#bg_wrapper{ width: 100%; height:100%; float: left; background-color: #fff;}
#wrapper{ width: 1200px; margin: 0 auto; position: relative; min-height: 800px; background-color: #fff; } 

#header{ float: left; width: 100%; height: 100px; text-align: center; background-color: #262626; }

.title h1 { padding : 10px 10px; font-size: 20pt; color: #000;  }

.yj_table { width: 920px; text-align: center; margin: 10px auto;}
.yj_table thead tr th{ font-size: 13px; padding: 3px 5px; background-color: #1F497D; color: white; border: 1px solid #000; }
.yj_table tbody tr td{ padding: 10px 0; font-size: 10px; color: #000; border: 1px solid #000; text-align: center; cursor: pointer; }
.yj_table tbody tr{ background-color: white; }
.yj_table tbody tr:HOVER {background-color: #B7B9CC;}
.yj_table tfoot tr td{ padding-top: 5px; }
.yj_table tfoot tr td>a{color: #262656; font-size: 15px; font-weight: bold;}

.yj_button_wrap{ margin-top: 10px; }
.yj_button_list{ width: 70%; margin: 0 auto;}
.yj_button{ 
	color: #000;
	font-size: 10px;
	font-weight: bold;
	padding: 5px 20px;
	cursor: pointer;
	
	background: #7d7e7d; /* Old browsers */
	background: -moz-linear-gradient(top,  #7d7e7d 0%, #0e0e0e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #7d7e7d 0%,#0e0e0e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
				
	border-radius:6px;  /*모서리 깍이는 정도*/
	background-color:#e7f4fd;  /*배경 컬러*/	
	
	color: white;
}

/* home */

.home_wrap{	float: left; width: 200px; height: 100%; margin-left: 5px; cursor: pointer; }
.home_wrap h1{ font-size: 28px; margin:33px 0; text-transform: uppercase; font-weight: 700; }
.home_wrap a{ text-decoration: none; color: #9B3D3B; }
.home_wrap a:VISITED{ color: #9B3D3B; }

.user_addButton { margin: 10px;}
.user_addButton span{border: 1px solid #000; color: #000; font-size: 8pt; padding: 3px 5px; cursor: pointer; }
.user_addButton span:HOVER{ background: #B7B9CC; }

/* top menu */

.top_menu_wrap{ float: left; width: 830px; height: 100px; }
.top_menu_wrap ul{ float:left; width: 830px; margin-left: 140px; height: 100px;  }
.top_menu_wrap li.top_menu_li{ float: left; width: 140px; padding: 0 5px; padding-top: 40px; display: block; text-align: center; margin-right: 20px; height: 55px; display: block; cursor: pointer; border-top: 5px solid white;  color: white; 
									letter-spacing: 0.05em; text-decoration: none; font-size: 15px; text-transform: uppercase; outline: 0;}
.top_menu_wrap li.top_menu_li>a{ display: inline-block;}

.top_menu_wrap li.top_menu_li:hover{ padding-top: 35px; border-top: 10px solid #F79646; color: #F79646;}

/* form */
.form_wrap{ width : 100%; height : 100%; text-align: center; }
.form_wrap table{ width:320px; margin: 0 auto; color: #000; table-layout: fixed; }
.form_wrap table tr th{ background-color: #B7B9CC; }
.form_wrap table tr th, .form_wrap table tr td { border : 1px solid #000; padding: 5px 10px; }
.form_wrap table tbody tr:HOVER{ background-color: #B7B9CC; font-weight: bold; cursor: pointer;}

.form_wrap table tr th#form_no{ width: 20%; }
.form_wrap table tr th#form_title{ width: 80%; }

#form_title h3{ width: 100%; border : none; padding: 10px 0 ; text-align: left; margin-left: 5px; }

	
/* left menu */

#left_header{ float: left; width: 200px; height: 100%; text-align: center; background-color: #262626; }
.left_menu_wrap{ float: left; width: 200px; min-height: 600px; }

/* login */
.login_wrap{ float: left; width: 200px; padding: 10px 0; }
.login_wrap table{ float: left; }
.login_wrap table tr td{ width: 180px; padding: 5px 5px; }
.login_wrap table tr th{ color: #000; }

.login_input{ width: 130px; }
.login_btn{ float: right; }

.login_error{ text-align: right; color: #000; }

/* user Infomation */
.user_info_ul{ float: left; width: 100%; line-height: 60 px; }
.user_info_ul li#user_title{ color: white; font-weight: bold; padding-bottom: 10px; margin-bottom: 5px; font-size: 17px; text-align: center; padding-left: 0px;}
.user_info_ul li{ color: #92D050; font-weight: bold; text-align: left; font-size: 13px; padding-left: 22px; margin-bottom: 2px;  }
.user_info_ul li span{ color: white;}
.user_info_ul li#user_logout_btn{
	width: 146px;
	margin: 5px 22px;
	padding: 5px 5px;  
	text-align: center; 
	
	background: rgb(152,185,84); /* Old browsers */
	background: -moz-linear-gradient(top,  rgb(152,185,84) 0%, rgb(140,176,64) 51%, rgb(120,152,54) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(152,185,84)), color-stop(51%,rgb(140,176,64)), color-stop(100%,rgb(120,152,54))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgb(152,185,84) 0%,rgb(140,176,64) 51%,rgb(120,152,54) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgb(152,185,84) 0%,rgb(140,176,64) 51%,rgb(120,152,54) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgb(152,185,84) 0%,rgb(140,176,64) 51%,rgb(120,152,54) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgb(152,185,84) 0%,rgb(140,176,64) 51%,rgb(120,152,54) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#98b954', endColorstr='#789836',GradientType=0 ); /* IE6-9 */
	
	cursor: pointer;
	color: #000;
}

/* left detail menu */

.left_detail_menu_wrap{ float: left; width:195px; margin: 10px 0; }
.left_detail_menu_wrap li{ padding: 10px 15px; color: white; margin-bottom: 10px; border-left: 5px solid white; cursor: pointer; }
.left_detail_menu_wrap li:HOVER{ color: #F79646; border-left: 15px solid #F79646; padding-right: 25px; }


/* left admin service */
.admin_service_wrap{ float: left; width:195px; margin: 10px 0; }
.admin_service_wrap span{ float: left; width: 195px; padding: 10px 15px; color: white; margin-bottom: 10px; border-left: 5px solid white; cursor: pointer; }
.admin_service_wrap span:HOVER { color: #F79646; border-left: 15px solid #F79646; padding-right: 25px; }
.gblock_service_wrap{ float: left; width:195px; margin: 10px 0; }

li.outbound_delivery_item_list{ border-left: 0px;}
li.outbound_delivery_item_list:HOVER{ border-left: 0px;}

li.outbound_delivery_item_list ul li{ width: 136px; font-size: 12px;}
li.outbound_delivery_item_list ul li:HOVER{ color: #F79646; border-left: 12px solid #F79646; width: 122px; }

li.outbound_invoice_item_list{ border-left: 0px;}
li.outbound_invoice_item_list:HOVER{ border-left: 0px;}

li.outbound_invoice_item_list ul li{ width: 136px; font-size: 12px;}
li.outbound_invoice_list ul li:HOVER{ color: #F79646; border-left: 12px solid #F79646; width: 122px; }

/* content */

#content{ float: left; width: 1000px; min-height: 600px; background-color: #BFBFBF; }

/* admin Main */
.save_button_wrap{ width: 920px; margin: 20px auto; }
.save_button{ float: right; margin-bottom: 10px; }

.gblock_addButton_wrap{ width: 920px; margin: 20px auto; }
.gblock_addButton{ float: right; margin-bottom: 10px; }

.admin_user_addButton_wrap{ width: 920px; margin: 10px auto;}
.admin_user_addButton{ float: right; margin-bottom: 10px; }

/* container */
.container_wrap{ width: 920px; marign: 20px auto; }

/* GBL List */
.gbl_filter{ width: 920px; margin: 20px auto; }
.gbl_filter ul li{ display: inline;}

.gbl_addButton{ float: right;}

.gbl_list_filter_title{ width: 920px; margin: 10px auto; }
.gbl_list_filter_title ul li{display: inline;}

#gbl_add_div{background-color: white; width: 100%; height: 100%;}
.gbl_add_table { margin: 0 auto; width: 80%; margin-top: 20px; }
.gbl_add_table tr th{ font-size: 13px; padding: 3px 5px; background-color: #1F497D; color: white; border: 1px solid #000; }
.gbl_add_table tr td{ padding: 10px 0; font-size: 10px; color: #000; border: 1px solid #000; text-align: center; cursor: pointer; }
.gbl_add_table tfoot tr td{ border: none; text-align: right;}

/* GBL Pop */
.pop_title_line{ height: 40px; background-color : #262626; }
.pop_title_line span{ float: left; margin: 5px 5px; color: white; font-size: 23px; font-weight: bold;}

/* GBL Process */
.gbl_process_and_upload_div{ background-color: white; width: 100%; height: 100%; }

.gbl_process{ width: 100%; height : 260px; border-bottom: 1px solid black; background: #F2F2F2;}
.gbl_process ul{ width: 950px; height: 165px; margin: 0 auto;  padding-top: 60px; padding-left: 30px; }
.gbl_process ul li{ float: left; width: 230px; height: 165ppx; cursor: pointer; }
.gbl_process ul li image{ float: left; }

.gbl_upload{ height : 150px;}
.gbl_upload table{ width: 85%; margin: 0 auto; margin-top: 70px;  }
.gbl_upload table thead tr th{ font-size: 13px; padding: 3px 5px; background-color: #1F497D; color: white; border: 1px solid #000; }
.gbl_upload table tbody tr td{ padding: 10px 0; font-size: 10px; color: #000; border: 1px solid #000; text-align: center; cursor: pointer; }
#upload_tfoot{  text-align: right; padding: 5px;  }

/* GBL Preparation */
.gbl_preparation_div{ width : 100%; height: 100%; background-color: white;}
.gbl_preparation_list{width: 80%; height: 460px; margin: 0 auto;}
.inbound_preparation_list{ width: 80%; height: 310px; margin: 0 auto;}
.gbl_preparation_list li { width : 100%; height: 40px; margin: 21px 0; padding-top: 15px; cursor: pointer; background-color: #A6A6A6; color: #10253F; font-weight: bold; text-align: center;
	/* Opera */
	box-shadow:10px 10px 10px silver;
	
	/* Firefox */
	-moz-box-shadow:10px 10px 10px silver;
	
	/* Safiri, Chrome */
	-webkit-box-shadow:5px 5px 5px silver;
	
	/* IE */
	filter:progid:DXImageTransform.Microsoft.Shadow(color=silver,direction=55, strength=10);
 }
 
 .gbl_preparation_list li:HOVER{ background-color: #F79646; }


/* Pre_Move_Survey */
.pre_move_survey_wrap{ width: 450px; height: 440px; background-color: white;}
.pre_move_survey_table{ width: 70%; height: 300px; margin: 15px auto;}
.pre_move_survey_table thead tr th{ font-size: 13px; padding: 3px 5px; background-color: #1F497D; color: white; border: 1px solid #000;}
.pre_move_survey_table tr th{ font-size: 8pt; color: #000; border: 1px solid #000; vertical-align: middle; border-right: 0;}
.pre_move_survey_table tr td{ text-align: center; padding : 10px 10px; font-size: 7pt; color: #000; border: 1px solid #000; border-left: 0; vertical-align: middle; }
.pre_move_survey_table tfoot tr td{ border: none; text-align: right; background-color: white;}

/* Memorandum List*/
.memorandum_all_list_wrap { width: 700px; height: 400px; background-color : white;}
#memorandum_all_addButton{ width: 90%; margin: 10px auto;}
#memorandum_all_addButton ul li span{ margin-bottom: 10px; }

.memorandum_all_back{ float: left;}
.memorandum_all_addButton{ float: right;}

.memorandum_icon_wrap ul li{display: inline;}
.memorandum_icon{ width: 16px; height: 16px; cursor: pointer;}

.memorandum_all_table { width: 90% ; margin: 0 auto;}

/* Memorandum */
.memorandum_wrap{ with : 100%; height: 100%; background-color : white; }
.memorandum_table{ width: 70%; margin: 15px auto; }
.memorandum_table thead tr th {font-size: 13px; padding: 3px 5px; background-color: #1F497D; color: white; border: 1px solid #000; }
.memorandum_table tbody tr td{ padding: 10px 0; font-size: 10px; color: #000; border: 1px solid #000; text-align: center; vertical-align: middle;}
.memorandum_table tbody tr:HOVER { background-color: #B7B9CC; }
.memorandum_complete{ width: 70%; margin: 0 auto;  }
.memorandum_complete .yj_button{ float: right; margin-bottom: 20px;   }

/* MemorandumForm */ 
.memorandum_form_wrap{ width : 100% ; height: 100% ; background-color: white; }
.memorandum_form_content_wrap{ width : 500px; height: 790.5px; margin: 0 auto; padding-top: 50.5px;}
.memorandum_form_content_wrap ul li{ padding-bottom: 10px; }
#memorandum_title{ font-weight: bold; font-size: 18px; text-align: center; border-bottom: 3px double black; }
#memorandum_form_subject{ padding-top: 60px;}
#memorandum_form_subject input{ width: 400px; }
#memorandum_form_comment textarea{ width: 487px; height: 50px; }
#memorandum_form_article_comment textarea{ width: 487px; height: 50px; }
#memorandum_form_chief_of_office textarea{ width: 250px; height: 50px; margin-left: 238px; }
#memorandum_form_office_info textarea{ width: 239px ; height: 50px;}
#memorandum_form_area_director textarea{ width: 239px; height: 50px;}

#memorandum_button{ padding-bottom: 30px; }
#memorandum_button_list{width: 100%;}
#memorandum_button_list li{ width: 50px; display: inline;}
.memorandum_back{ float: left;}
.memorandum_update{ float: right; }
.memorandum_add{ float : right; }
.memorandum_print{ float: right; margin: 0 5px; }

/* DD-619 */
.dd619_list_wrap{ width: 1000px; height: 400px; background-color: white;}
#dd619_add_div{background-color: white; width: 100%; height: 100%;}
.dd619_add_table { margin: 0 auto; width: 80%; margin-top: 10px; }
.dd619_add_table tr th{ font-size: 8pt; background-color: #B7B9CC; color: #000; border: 1px solid #000; vertical-align: middle; padding: 2px 3px; }
.dd619_add_table tr td{ padding : 10px 10px; font-size: 7pt; color: #000; border: 1px solid #000; vertical-align: middle; text-align: center;  }
.dd619_add_table tfoot tr td{ border: none; text-align: right;}

#invoiceMemorandumType{ width: 45%; }
#invoiceMemorandumValue{ width: 45%; }

.dd619_back_wrap{ width: 602px; margin: 0 auto;}
.dd619_form_back{ float: left; margin-bottom : 10px; }
.dd619_form_print{ float: right; }

#dd619_button{ padding-bottom: 30px; }
#dd619_addButton{ margin-top: 10px; }
#dd619_button_list{width: 920px; margin: 0 auto; }
#dd619_button_list li{ width: 50px; display: inline;}
#dd619_button_list li span{ margin-bottom: 10px; }
.dd619_back{ float: left; }
.dd619_addButton{ float: right; }

.dd619_total td input#total1{width: 120px; margin-right: 3px; }
.dd619_total td input#total2{width: 120px; margin-right: 3px; }
.dd619_total td input#total3{width: 120px; margin-right: 3px; }

#dd619_remark textarea{ width: 100%; height: 100px; }

.dd619_wrap { float: left; width: 793px; height: 1122px; background-color: white; }
.dd619_wrap table{ float: left; width: 603px; height: 931px; margin: 90px 64px;  }
.dd619_wrap table thead{ float: left; }
.dd619_wrap table tbody{ float: left; height: 898px; boarder: 2px solid black; }
.dd619_wrap table tbody tr td{ padding-top: 2px; padding-bottom: 2px; border: 1px solid black;}
.dd619_wrap table thead tr th{ width: 603px; boarder: 0px solid black; font-size: 6px; font-weight: normal; text-align: center; padding-bottom: 2px;   }

#dd619_table_1_tr{ border-top: 2px solid black; }
#dd619_table_1_tr td{ border : 2px solid black;}
#dd619_table_1_tr #dd619_table_1_1_td{ width: 75%; font-size: 4px; }
#dd619_table_1_tr #dd619_table_1_1_td p{ font-size: 4px; }
#dd619_table_1_tr #dd619_table_1_1_td p#dd619_table_1_1_p{ width: 100%; font-size : 11px; font-weight: bold;  text-align: center; }
#dd619_table_1_tr #dd619_table_1_2_td{ font-size: 10px; text-align: center; }

#dd619_table_2_1_td{ font-size: 5px; }

/* Weight Certificate */
#weightcertificate_form_wrap{ width: 1000px; height: 986px; background-color: white; }

.weight_button_wrap{ width: 80%; margin: 0 auto;}
.weight_button_list{ width :100%; padding:10px 0;}
.weight_button_list li{ display: inline; }
.weightcertificate_write{ float: right; }
.weightcertificate_update{ float: right; }
.weight_certificate_back{ float: left;}
.weightcertificate_print{ float: right; }

.weightcertificate_head{ width: 80%; padding-top:20px; text-align: center; border-bottom: 2px solid black; margin: 0 auto; }
#weightcertificate_sub_head{ width: 80%; margin: 0 auto;}
#weightcertificate_wrap{ width: 80%; height: 80%; padding-top: 60px; margin: 0 auto;}
#weightcertificate_write{ position:absolute; top: 130px; left: 910px; }
#weightcertificate_title{ font-size: 25px; margin-left: 25%;  }

.weightcertificate_content{ margin-top: 50px; }
.weightcertificate_base_info{ width: 100%; }
.weightcertificate_base_info ul li{
	float: left;
	margin : 0;
	font-size: 12px;
	text-align: center;
}

#weightcertificate_add_button{ position:absolute; top: 420px; left: 910px; }

.weightcertificate_base_info ul .weightcertificate_column1{	width: 25%; height: 30px; }

.weightcertificate_base_info ul .weightcertificate_column2{	width: 25%; height: 30px; }

.weightcertificate_base_info ul .weightcertificate_column3{	width: 25%; height: 30px; }

.weightcertificate_base_info ul .weightcertificate_column4{	width: 25%; height: 30px; }

.weightcertificate_table_wrap{ float: left; margin-top: 30px; width: 100%; height: 450px;  }
.weightcertificate_table_wrap table { width: 80%; margin: 0 auto; text-align: center; }
.weightcertificate_table_wrap table tbody tr td{ border: 1px solid black; height: 26px; vertical-align: middle;}
.weightcertificate_table_wrap table thead tr th{ font-size: 8pt; border: 1px solid black; background-color: #B7B9CC; height: 26px; vertical-align: middle; } 
.weightcertificate_table_wrap table tfoot tr td{ border: 1px solid black; height: 26px;}
.weightcertificate_table_wrap table tbody tr td input{border: none;}
.weightcertificate_table_wrap table tbody tr td.piece_td input{ width: 30px; }
.weightcertificate_table_wrap table tbody tr td.type_td input{ width: 40px; }
.weightcertificate_table_wrap table tbody tr td.status_td input{ width: 50px; }
.weightcertificate_table_wrap table tbody tr td.gross_td input{ width: 45px; }
.weightcertificate_table_wrap table tbody tr td.tare_td input{ width: 50px; }
.weightcertificate_table_wrap table tbody tr td.net_td input{ width: 50px; }
.weightcertificate_table_wrap table tbody tr td.cuft_td input{ width: 50px; }
.weightcertificate_table_wrap table tbody tr td.remark_td input{ width: 120px; }
.weightcertificate_table_wrap table tfoot tr td#weightcertificate_progear input{ width: 45px; }
.weightcertificate_table_wrap table tfoot tr td#weightcertificate_seal_no input{ width: 50px; }
.weightcertificate_table_wrap table tfoot tr td#weightcertificate_lbs input{ width: 50px; }

.weightcertificate_foot{ float: left; width: 100%; height: 105px;}

/* Addtional Decide */
#addtional_decide_wrap{ width: 400px; height: 500px; background-color: white;}

#addition_table_wrap{ height: 450px; margin: 10px 0; margin-left: 25px; overflow-y: scroll;}

#addition_table{ width : 340px; text-align: center;}
#addition_table thead tr th{ font-size: 13px; padding: 3px 5px; background-color: #1F497D; color: white; border: 1px solid #000; }
#addition_table tbody tr td{ padding: 10px 0; font-size: 10px; color: #000; border: 1px solid #000; text-align: center; }
#addition_table tbody tr td input[name=cost]{ width: 100px; }
#addition_table tfoot tr td{ text-align: right; line-height: 30px; }

.gbl_plus_Box{ width:16px; height: 16px; background: url("../images/gbl/gbl_plus_btn.png") no-repeat; margin-left: 2px; margin-top: 5px; cursor: pointer;}
.gbl_weight_plus_Box{ width:16px; height: 16px; background: url("../images/gbl/gbl_plus_btn.png") no-repeat; margin-left: 2px; margin-top: 5px; cursor: pointer;}

.final_back_wrap{ width: 90%; }
.final_back{ margin-left: 5px; }

/* Delivery */
.delivery_addButton{ float: right; margin-bottom : 10px;}
.delivery_addButton_wrap{ width: 920px; margin: 20px auto;}

/* Truck Manifast */
.truck_gbl_list_wrap { width: 1000px; height: 700px; background-color: white; }
.truck_addButton{ float: right;}
.truck_gbl_addButton{ float: right;}
.gbl_declaration_list_addButton{ float: right; }

.truck_seperate_button_list{ width: 80%; margin: 0px auto; }
.truck_seperate_back{ float: left; margin-bottom: 20px; }
.truck_seperate_addButton{ float: right; margin-bottom: 20px;  }
.truck_seperate_setting_wrap{ width: 700px; height: 400px; background-color: white; padding-top: 30px;}
.truck_seperate_table{ width : 80% ; margin: 10px auto; text-align: center;}
.truck_seperate_table tr th{ font-size: 12px; padding: 3px 5px; background-color: #1F497D; color: white; border: 1px solid #000; }
.truck_seperate_table tr td{ padding: 10px 0; font-size: 10px; color: #000; border: 1px solid #000; text-align: center; cursor: pointer; }
.truck_seperate_table tr{ background-color: white; }

td.seperate_merge{ border: none !important;}
.seperate_merge img{width: 40px; height: 16px; }

.truck_manifast_deleteButton img{width: 16px; height: 16px;}

/* Booking List */
.booking_addButton_wrap{ width: 920px; margin: 20px auto; }
.booking_addButton{ float: right; margin-bottom: 10px; }

.booking_gbl_list_wrap { width: 1000px; height: 700px; background-color: white; }

.booking_gbl_addButton{ float: right; }

/* Rate */
.rate_wrapper{ overflow: auto; height: 600px; }

.rate_table { width: 970px; text-align: center; margin: 10px auto;}
.rate_table thead tr th{ font-size: 12px; padding: 3px 5px; background-color: #1F497D; color: white; border: 1px solid #000; }
.rate_table tbody tr td{ padding: 10px 0; font-size: 10px; color: #000; border: 1px solid #000; text-align: center; cursor: pointer; }
.rate_table tbody tr{ background-color: white; }
.rate_table tbody tr td:HOVER {background-color: #B7B9CC;}
.rate_table tfoot tr td{ padding-top: 5px; }
.rate_table tfoot tr td>a{color: #262656; font-size: 15px; font-weight: bold;}

.sit_rate_table{ width: 500px; text-align: center; margin: 10px auto; }
.sit_rate_table thead tr th{ font-size: 12px; padding: 3px 5px; background-color: #1F497D; color: white; border: 1px solid #000; }
.sit_rate_table tbody tr td{ padding: 10px 0; font-size: 10px; color: #000; border: 1px solid #000; text-align: center; cursor: pointer; }
.sit_rate_table tbody tr{ background-color: white; }
.sit_rate_table tbody tr td:HOVER {background-color: #B7B9CC;}
.sit_rate_table tfoot tr td{ padding-top: 5px; }
.sit_rate_table tfoot tr td>a{color: #262656; font-size: 15px; font-weight: bold;}

.basic_rate_input{ width: 40px; border: none;}
.comprate_input{ width: 40px; border: none;}
.container_rate_input { width: 40px; border: none;}
.sit_rate_input{ width: 45px; border: none;}
.other_rate_input{ width: 45px; border:none;}

/* TCMD */
.tcmd_add_button{ float: right; margin-bottom : 10px;}
.tcmd_add_button_wrap{ width: 920px; margin: 20px auto;}

.tcmd_addButton_wrap{ width: 920px; margin: 20px auto; }
.tcmd_addButton{ float: right; margin-bottom: 10px; }

.tcmd_gbl_list_wrap { width: 1000px; height: 700px; background-color: white; }

.tcmd_gbl_addButton{ float: right; }

.tcmd_table tbody tr:HOVER{background-color: white;}
.tcmd_table tbody tr td{ vertical-align: middle;}
.tcmd_table tbody tr td:HOVER{ background-color: #B7B9CC;}

/* Invoice */
.invoice_filter{ width: 920px; margin: 20px auto; }
.invoice_filter ul li{ display: inline;}

.invoice_table tbody tr td{ vertical-align: middle;}

.invoice_add_button{ float: right; margin-bottom : 10px;}
.invoice_add_button_wrap{ width: 920px; margin: 20px auto;}

.invoice_add_table{ width : 80% ; margin: 10px auto; text-align: center;}
.invoice_add_table thead tr th{ font-size: 12px; padding: 3px 5px; background-color: #1F497D; color: white; border: 1px solid #000; }
.invoice_add_table tbody tr td{ padding: 10px 0; font-size: 10px; color: #000; border: 1px solid #000; text-align: center; cursor: pointer; }
.invoice_add_table tbody tr{ background-color: white; }
.invoice_add_table tbody tr td:HOVER {background-color: #B7B9CC;}
.invoice_add_table tfoot tr td{ padding-top: 5px; text-align: right; }

.invoice_add_submit_button_wrap{ margin-top: 10px;}

.invoice_gbl_content_list_wrap{ width: 800px; height: 500px; background-color: white;}

.invoice_gbl_list_wrap{ width: 1000px; height: 700px; background-color: white;}
.invoice_gbl_addButton{ float: right; }

.invoice_gbl_list_table{ width : 80% ; margin: 10px auto; text-align: center;}
.invoice_gbl_list_table thead tr th{ font-size: 12px; padding: 3px 5px; background-color: #1F497D; color: white; border: 1px solid #000; }
.invoice_gbl_list_table tbody tr td{ padding: 10px 0; font-size: 10px; color: #000; border: 1px solid #000; text-align: center; vertical-align: middle; }
.invoice_gbl_list_table tbody tr{ background-color: white; cursor: pointer;  }
.invoice_gbl_list_table tbody tr:HOVER {background-color: #B7B9CC;}
.invoice_gbl_list_table tfoot tr td{ padding-top: 5px; text-align: right; }

.invoice_gbl_list_button_list{ width: 80% ; margin: 10px auto; }
.invoice_gbl_list_button_list li {width : 80%; float: left; }
.invoice_gbl_list_back{ float: left; margin-bottom: 10px;}
.invoice_gbl_print{ float: left; margin-bottom: 10px;}

.invoice_gbl_content_wrap{ width: 800px; height: 900px; background-color: white;}
.invoice_gbl_content_table{ width: 80%; margin: 10px auto; text-align: center; }
.invoice_gbl_content_table tr th{ font-size: 12px; padding: 3px 5px; background-color: #1F497D; color: white; border: 1px solid #000; }
.invoice_gbl_content_table tr td{ padding: 10px 0; font-size: 10px; color: #000; border: 1px solid #000; text-align: center; vertical-align: middle;}
.invoice_gbl_content_table tr{ background-color: white; cursor: pointer;  }
.invoice_gbl_content_table tr:HOVER {background-color: #B7B9CC;}

.invoice_gbl_content_list_button_list{ width: 80% ; margin: 10px auto; }
.invoice_gbl_content_list_button_list li {width : 80%; float: left; }
.invoice_gbl_content_list_back{ float: left; margin-bottom : 10px; }

/* Invoice Collection */
.collection_flow_wrap{text-align: left!important; padding-left: 5px!important; }
.collection_flow_wrap img { width: 20px; height: 20px; }

.collection_gbl_flow_wrap{text-align: left!important; padding-left: 5px!important; }
.collection_gbl_flow_wrap img { width: 20px; height: 20px; }

.collection_net{width: 40px; border: none;}
.invoice_amountValue{ width: 40px; border: none;}

.invoice_collection_table thead tr th{ font-size : 11px; }
.invoice_collection_table tbody tr td{ vertical-align: middle; }

.collection_flow_wrap ul li{margin-right: 5px; float: left; margin-bottom: 5px;  }
.collection_flow_wrap ul li input { width: 50px; }
.collection_flow_wrap ul li textarea { width : 280px; height: 40px; }
.collection_flow_wrap ul li table td{ padding: 2px 3px; }

.collection_flow_table tr:HOVER{background-color : white!important;}
.collection_flow_table{ height: 60px; }

.collection_gbl_flow_wrap ul li{margin-right: 5px; float: left; margin-bottom: 5px;  }
.collection_gbl_flow_wrap ul li input { width: 50px; }
.collection_gbl_flow_wrap ul li textarea { width : 190px; height: 40px; }
.collection_gbl_flow_wrap ul li table td{ padding: 2px 3px; }

.invoice_gbl_collection_list_table{ width : 80% ; margin: 10px auto; text-align: center;}
.invoice_gbl_collection_list_table thead tr th{ font-size: 12px; padding: 3px 5px; background-color: #1F497D; color: white; border: 1px solid #000; }
.invoice_gbl_collection_list_table tbody tr td{ padding: 10px 0; font-size: 10px; color: #000; border: 1px solid #000; text-align: center; vertical-align: middle; }
.invoice_gbl_collection_list_table tbody tr{ background-color: white; cursor: pointer;  }
.invoice_gbl_collection_list_table tbody tr:HOVER {background-color: #B7B9CC;}
.invoice_gbl_collection_list_table tfoot tr td{ padding-top: 5px; text-align: right; }

.invoice_collection_gbl_list_wrap{ width: 1000px; height: 500px; background-color: white;}

.invoice_gbl_content_list_pdf{ float: left; margin-bottom : 10px; }

.collection_remark_th{ vertical-align: middle;}
.collection_remark{ width: 390px; height: 20px; }

/* Inbound */
/* Freight List */
.freight_add{float: right; margin-bottom: 10px; }

#weight_add_wrap{ width: 700px; height: 500px; background-color: white;}

#weight_add_wrap table{ width : 90% ; margin: 10px auto; text-align: center;}
#weight_add_wrap table thead tr th{ font-size: 12px; padding: 3px 5px; background-color: #1F497D; color: white; border: 1px solid #000; }
#weight_add_wrap table tbody tr td{ padding: 10px 0; font-size: 10px; color: #000; border: 1px solid #000; text-align: center; }
#weight_add_wrap table tbody tr{ background-color: white; }
#weight_add_wrap input{ width: 40px; border: none; }
#weight_add_wrap table tfoot tr td{padding: 10px 0; font-size: 10px; color: #000; border: 1px solid #000; text-align: center;  }

.weight_remark input#remark{width: 140px;}
.weight_add_button_list{ width :100%; padding:10px 0;}
.weight_add_button_wrap{ width: 90%; margin: 0 auto;}
.weight_addButton{ float: right; margin-bottom: 10px; margin-right: 3%;}

/* Custom */


li.inbound_custom_item_list{ border-left: 0px;}
li.inbound_custom_item_list:HOVER{ border-left: 0px;}

li.inbound_custom_item_list ul li{ width: 136px; font-size: 12px;}
li.inbound_custom_list ul li:HOVER{ color: #F79646; border-left: 12px solid #F79646; width: 122px; }

.inbound_invoice_add_button{ float: right; margin-bottom : 10px; }

.inbound_invoice_gbl_list_wrap{ width: 1000px; height: 700px; background-color: white;}