@CHARSET "UTF-8";

/* base Style */

#bg_wrapper{ width: 100%; height:100%; float: left; background-color: #fff;}
#wrapper{ width: 1200px; margin: 0 auto; position: relative; min-height: 800px; background-color: #fff; } 

#header{ float: left; width: 100%; height: 120px; text-align: center; }

.title h1 { padding : 10px 10px; font-size: 20pt; color: #000;  }

.yj_table { width: 880px; text-align: center; margin: 10px auto; }
.yj_table thead tr th{ font-size: 8pt; background-color: #B7B9CC; color: #000; border: 1px solid #000; }
.yj_table tbody tr td{ padding : 10px 10px; font-size: 7pt; color: #000; border: 1px solid #000; }

.yj_table tbody tr:HOVER {background-color: #B7B9CC; cursor: pointer;}

.yj_button{ border: 1px solid #000; color: #000; font-size: 8pt; padding: 3px 5px; cursor: pointer; }

/* home */

.home_wrap{	float: left; width: 200px; height: 60px; padding: 20px 5px; margin-left: 5px; border: 1px solid #000; background-color: #B7B9CC; cursor: pointer; }
.home_wrap h1{ font-size: 2.5em; text-transform: uppercase; font-weight: 700; }
.home_wrap a{ text-decoration: none; color: #000; }
.home_wrap a:VISITED{ color: #000; }

.user_addButton { width: 880px; margin: 10px auto;}
.user_addButton span{ margin-left: 845px; border: 1px solid #000; color: #000; font-size: 8pt; padding: 3px 5px; cursor: pointer; }
.user_addButton span:HOVER{ background: #B7B9CC; }

/* top menu */

.top_menu_wrap{ float: left; width: 830px; height: 60px; margin-left: 30px; }
.top_menu_wrap ul{ float:left;  }
.top_menu_wrap li.top_menu_li{ float: left; width: 140px; padding: 0 5px; display: block; text-align: center; margin-right: 10px; line-height: 68px; border: 1px solid #000; display: block; cursor: pointer; }
.top_menu_wrap li.top_menu_li>a{ display: inline-block; margin-left: 1px; padding: 1em 1em; letter-spacing: 0.10em; text-decoration: none; font-size: 1em; text-transform: uppercase; outline: 0; color: #000; }

.top_menu_wrap li.top_menu_li:hover{ background: #B7B9CC; font-weight: bold; }

/* form */
.form_wrap{ width : 100%; height : 100%; text-align: center; }
.form_wrap table{ width:320px; margin: 0 auto; color: #000; table-layout: fixed; }
.form_wrap table tr th{ background-color: #B7B9CC; }
.form_wrap table tr th, .form_wrap table tr td { border : 1px solid #000; padding: 5px 10px; }
.form_wrap table tbody tr:HOVER{ background-color: #B7B9CC; font-weight: bold; cursor: pointer;}

.form_wrap table tr th#form_no{ width: 20%; }
.form_wrap table tr th#form_title{ width: 80%; }

#form_title h3{ width: 100%; border : none; padding: 10px 0 ; text-align: left; margin-left: 5px; }

	
/* left menu */

#left_header{ float: left; width: 200px; height: 100%; padding: 0 5px; text-align: center; }
.left_menu_wrap{ float: left; width: 200px; min-height: 600px; }

/* login */
.login_wrap{ float: left; width: 200px; padding: 10px 5px; border : 1px solid #000; }
.login_wrap table{ float: left; }
.login_wrap table tr td{ width: 180px; padding: 5px 5px; }
.login_wrap table tr th{ color: #000; }

.login_input{ width: 130px; }
.login_btn{ float: right; }

.login_error{ text-align: right; color: #000; }

/* user Infomation */
.user_info_ul{ width: 200px; line-height: 60 px; }
.user_info_ul li#user_title{ color: #98A2FF; font-weight: bold; padding-bottom: 10px; margin-bottom: 5px; border-bottom: dashed; border-color: #000;  }
.user_info_ul li{ color: #000; }
.user_info_ul li#user_logout_btn{ text-align: right; }

/* left detail menu */

.left_detail_menu_wrap{ float: left; width:210px; margin: 10px 0; }
.left_detail_menu_wrap li{ border : 1px solid #000; padding: 10px 15px; margin: 3px 0px; color: #98A2FF; }
.left_detail_menu_wrap li:HOVER{ background: #B7B9CC; color: #000; font-weight: bold; }
.left_detail_menu_wrap li a{ color: #000;}


/* left admin service */
.admin_service_wrap{ float: left; width : 200px; margin: 10px 0 0 0; padding: 10px 5px; border: 1px solid #000; }
.gblock_service_wrap{ float: left; width : 200px; margin: 10px 0 0 0; padding: 10px 5px; border: 1px solid #000; }

/* content */

#content{ float: left; width: 900px; min-height: 600px; border: 1px solid #000; margin: 0 37px; }

/* admin */
.admin_service_wrap{ cursor: pointer; }

/* admin Main */

/* GBL List */
.gbl_filter{ width: 880px; margin: 10px auto; }
.gbl_list_filter_title{ width: 880px; margin: 10px auto; }
.gbl_list_filter_title ul li{display: inline;}

#gbl_add_div{background-color: white; width: 100%; height: 100%;}
.gbl_add_table { margin: 0 auto; width: 80%; }
.gbl_add_table tr th{ font-size: 8pt; background-color: #B7B9CC; color: #000; border: 1px solid #000; }
.gbl_add_table tr td{ padding : 10px 10px; font-size: 7pt; color: #000; border: 1px solid #000; }
.gbl_add_table tfoot tr td{ border: none; text-align: right;}

/* GBL Process */
.gbl_process_and_upload_div{ background-color: white; width: 100%; height: 100%; }
.gbl_process{ width: 100%; height : 360px; border-bottom: 1px solid black;}
.gbl_process ul{ width: 100%; height: 80%; margin: 0 auto; }
.gbl_process ul li{float: left; width: 130px; height: 290px; border: 1px solid black; margin-left: 75px; margin-top: 30px; cursor: pointer;   }

.gbl_upload{ height : 240px;}
.gbl_upload table{ width: 80%; margin: 0 auto; margin-top: 70px;  }
.gbl_upload table thead tr th{ font-size: 8pt; background-color: #B7B9CC; color: #000; border: 1px solid #000; }
.gbl_upload table tbody tr td{ text-align: center; padding : 10px 10px; font-size: 7pt; color: #000; border: 1px solid #000; }
#upload_tfoot{  text-align: right; }

/* GBL Preparation */
.gbl_preparation_div{ width : 100%; height: 100%; background-color: white;}
.gbl_preparation_list{width: 80%; height: 500px; margin: 0 auto;}
.gbl_preparation_list li { vertical-align: middle; width : 100%; height: 12%; border: 1px solid black; margin: 21px 0; cursor: pointer; }


/* Pre_Move_Survey */
.pre_move_survey_wrap{ width: 100%; height: 100%; bacground-color: white;}
.pre_move_survey_table{ width: 70%; height: 300px; margin: 15px auto;}
.pre_move_survey_table tr th{ font-size: 8pt; background-color: #B7B9CC; color: #000; border: 1px solid #000; vertical-align: middle;}
.pre_move_survey_table tr td{ text-align: center; padding : 10px 10px; font-size: 7pt; color: #000; border: 1px solid #000; vertical-align: middle; }
.pre_move_survey_table tfoot tr td{ border: none; text-align: right;}

/* Memorandum */
.memorandum_wrap{ with : 100%; height: 100%; background-color : white; }
.memorandum_table{ width: 80%; height: 300px; margin: 15px auto; }
.memorandum_table thead tr th {font-size: 8pt; background-color: #B7B9CC; color: #000; border: 1px solid #000; vertical-align: middle;  }
.memorandum_table tbody tr td{ text-align: center; padding : 10px 10px; font-size: 7pt; color: #000; border: 1px solid #000; vertical-align: middle; cursor: pointer; }
.memorandum_table tbody tr:HOVER { background-color: #B7B9CC; }
.memorandum_complete{ margin-bottom : 20px; margin-left: 476px;  }

/* MemorandumForm */ 
.memorandum_form_wrap{ width : 100% ; height: 100% ; background-color: white; }
.memorandum_form_content_wrap{ width : 500px; height: 790.5px; margin: 0 auto; padding-top: 50.5px;}
.memorandum_form_content_wrap ul li{ padding-bottom: 10px; }
#memorandum_title{ font-weight: bold; font-size: 18px; text-align: center; border-bottom: 3px double black; }
#memorandum_form_subject{ padding-top: 60px;}
#memorandum_form_subject input{ width: 400px; }
#memorandum_form_comment textarea{ width: 487px; height: 50px; }
#memorandum_form_article_comment textarea{ width: 487px; height: 50px; }
#memorandum_form_chief_of_office textarea{ width: 250px; height: 50px; margin-left: 238px; }
#memorandum_form_office_info textarea{ width: 239px ; height: 50px;}
#memorandum_form_area_director textarea{ width: 239px; height: 50px;}

#memorandum_button{ padding-bottom: 30px; }
#memorandum_button_list{width: 100%;}
#memorandum_button_list li{ width: 50px; display: inline;}
.memorandum_back{margin-right: 400px;}

/* DD-619 */
.dd619_list_wrap{ width: 900px; height: 400px; background-color: white;}
#dd619_add_div{background-color: white; width: 100%; height: 100%;}
.dd619_add_table { margin: 0 auto; width: 80%; }
.dd619_add_table tr th{ font-size: 8pt; background-color: #B7B9CC; color: #000; border: 1px solid #000; }
.dd619_add_table tr td{ padding : 10px 10px; font-size: 7pt; color: #000; border: 1px solid #000; }
.dd619_add_table tfoot tr td{ border: none; text-align: right;}

.dd619_total td input#total1{width: 120px; margin-right: 3px; }
.dd619_total td input#total2{width: 120px; margin-right: 3px; }
.dd619_total td input#total3{width: 120px; margin-right: 3px; }

#dd619_remark textarea{ width: 100%; height: 100px; }

.dd619_wrap { float: left; width: 793px; height: 1122px; background-color: white; }
.dd619_wrap table{ float: left; width: 603px; height: 931px; margin: 90px 64px;  }
.dd619_wrap table thead{ float: left; }
.dd619_wrap table tbody{ float: left; height: 898px; boarder: 2px solid black; }
.dd619_wrap table tbody tr td{ padding-top: 2px; padding-bottom: 2px; border: 1px solid black;}
.dd619_wrap table thead tr th{ width: 603px; boarder: 0px solid black; font-size: 6px; font-weight: normal; text-align: center; padding-bottom: 2px;   }

#dd619_table_1_tr{ border-top: 2px solid black; }
#dd619_table_1_tr td{ border : 2px solid black;}
#dd619_table_1_tr #dd619_table_1_1_td{ width: 75%; font-size: 4px; }
#dd619_table_1_tr #dd619_table_1_1_td p{ font-size: 4px; }
#dd619_table_1_tr #dd619_table_1_1_td p#dd619_table_1_1_p{ width: 100%; font-size : 11px; font-weight: bold;  text-align: center; }
#dd619_table_1_tr #dd619_table_1_2_td{ font-size: 10px; text-align: center; }

#dd619_table_2_1_td{ font-size: 5px; }
