<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="inboundMapper">	
	<resultMap type="GBLStatus" id="StatusMap">
		<result column="gbl_no" property="no"/>
		<result column="gbl_input" property="input" />
		<result column="gbl_preperation" property="preperation" />
		<result column="gbl_delivery" property="delivery" />
		<result column="gbl_truckManifast" property="truckManifast"/>
		<result column="gbl_bookingList" property="bookingList"/>
		<result column="gbl_invoice" property="invoice" />
		<result column="gbl_arrival" property="arrival" />
		<result column="gbl_process" property="process" />
	</resultMap>

	<resultMap type="GBLAttachment" id="GBLAttachmentMap">
		<result column="seq" property="seq"/>
		<result column="gbl_no" property="gblNo"/>
		<result column="file_name" property="fileName"/>
		<result column="file_path" property="filePath"/>
		<result column="file_extension" property="fileExtension"/>
		<result column="file_size" property="fileSize"/>
		<result column="gbl_file_no" property="gblFileNo"/>
		<result column="gbl_update_date" property="gblUpdateDate"/>
	</resultMap>

	<resultMap type="Dd619" id="Dd619Map">
		<result column="seq" property="seq"/>
		<result column="gbl_no" property="gblNo"/>
		<result column="date" property="date"/>
		<result column="name" property="name"/>
		<result column="ssn" property="ssn"/>
		<result column="rank" property="rank"/>
		<result column="origin_of_shipment" property="originOfShipment"/>
		<result column="destination" property="destination"/>
		<result column="ordering_activity_name" property="orderingActivityName"/>
		<result column="carrier_name" property="carrierName"/>
		<result column="agent_name" property="agentName"/>
		<result column="signature" property="signature"/>
		<result column="carrier_shipment_reference" property="carrierShipmentReference"/>
		<result column="code" property="code"/>
		<result column="other" property="other"/>
		<result column="total" property="total"/>
		<result column="remark" property="remark"/>
		<result column="officer_material" property="officerMaterial"/>
		<result column="officer_signature" property="officerSignature"/>
		<result column="officer_date" property="officerDate"/>
		<result column="rank_and_name" property="rankAndName"/>
		<result column="transportation_date" property="transportationDate"/>
		<result column="gbl_seq" property="gblSeq"/>
		<result column="write_date" property="writeDate"/>
		<result column="write_user" property="writeUser"/>
		<result column="memorandum_list_seq" property="memorandumListSeq"/>
	</resultMap>

	<select id="getFreightListCount" parameterType="InboundFilter" resultType="Integer">
		SELECT
			count(*)
		FROM
			gbl_ib
		WHERE
			1 = 1
			<if test="area != null and area != ''">
				AND
					area = (select code_etc from symbol where main_code = '01' and sub_code = #{area})
			</if>
			<if test="branch != null and branch != ''">
				AND		
					area = #{branch}			
			</if>
			<if test="carrier != null and carrier != ''">
				AND
					tsp = #{carrier}
			</if>
			<if test="code != null and code != ''">
				AND
					code = #{code}
			</if>
			<if test="startPud != null and startPud != ''">
				AND
					pud &gt;= str_to_date(#{startPud}, '%Y%m%d')
			</if>
			<if test="endPud != null and endPud != ''">
				AND
					pud &lt;= str_to_date(#{endPud}, '%Y%m%d')
			</if>
	</select>
	
	<select id="getFreightList" parameterType="InboundFilter" resultType="GBL">
		SELECT 
			*
		FROM	
			(
				SELECT
					(@rownum := @rownum + 1) AS rownum,
					g.seq,
					g.gblNo,
					g.shipperName,
					g.rank,
					g.code,
					g.tsp,
					g.destAddress,
					g.pud,
					g.rdd,
					g.arriveDate,
					g.awbNo,
					g.ssn,
					g.pmjDate,
					g.area AS areaLocal,
					g.fright,
					g.eMailAddress,
					g.oblNo,
					g.vessle,
					g.blCompany,
					g.remark,
					g.eta,
					g.sit,
					g.rate,
					g.yjNo,
					g.totalPcs
				FROM
					gbl_ib g, (SELECT @rownum := 0) r
				WHERE
					1 = 1
					<if test="area != null and area != ''">
						AND
							area = (select code_etc from symbol where main_code = '01' and sub_code = #{area})
					</if>
					<if test="branch != null and branch != ''">
						AND		
							area = #{branch}			
					</if>
					<if test="carrier != null and carrier != ''">
						AND
							tsp = #{carrier}
					</if>
					<if test="code != null and code != ''">
						AND
							code = #{code}
					</if>
					<if test="startPud != null and startPud != ''">
						AND
							pud &gt;= str_to_date(#{startPud}, '%Y%m%d')
					</if>
					<if test="endPud != null and endPud != ''">
						AND
							pud &lt;= str_to_date(#{endPud}, '%Y%m%d')
					</if>
				ORDER BY
					g.seq
			)u	
		WHERE rownum BETWEEN #{pagination.itemSeqBegin} AND #{pagination.itemSeqEnd}		
	</select>
	
	<select id="getGblStatusList" parameterType="InboundFilter" resultMap="StatusMap">
		SELECT
			gbl_no,
			gbl_input,
			gbl_preperation,
			gbl_delivery,
			gbl_truckmanifast,
			gbl_arrival,
			gbl_process,
			gbl_bookinglist,
			gbl_invoice
		FROM
			gbl_status
		WHERE
			gbl_no IN (
				SELECT
						gbl_no
					FROM
						gbl_ib
					WHERE
						1 = 1
						<if test="branch != null and branch != ''">
							AND		
								area = #{branch}			
						</if>
						<if test="carrier != null and carrier != ''">
							AND
								tsp = #{carrier}
						</if>
						<if test="code != null and code != ''">
							AND
								code = #{code}
						</if>
						<if test="startPud != null and startPud != ''">
							AND
								pud &gt;= str_to_date(#{startPud}, '%Y%m%d')
						</if>
						<if test="endPud != null and endPud != ''">
							AND
								pud &lt;= str_to_date(#{endPud}, '%Y%m%d')
						</if>			
			)
	</select>
	
	<select id="getGbl" parameterType="Integer" resultType="GBL">
		SELECT
			g.seq,
			g.gblNo,
			g.shipperName,
			g.rank,
			g.code,
			g.tsp,
			g.destAddress,
			g.pud,
			g.rdd,
			g.arriveDate,
			g.awbNo,
			g.ssn,
			g.pmjDate,
			g.area AS areaLocal,
			g.fright,
			g.eMailAddress,
			g.oblNo,
			g.vessle,
			g.blCompany,
			g.remark,
			g.eta,
			g.sit,
			g.rate,
			g.yjNo,
			g.totalPcs
		FROM
			gbl_ib g
		WHERE
			g.seq = #{seq}
	</select>	
	
	<select id="getCarrierList" resultType="Code">
		SELECT DISTINCT
			tsp AS subCode
		FROM
			gbl_ib	
	</select>
	
	<select id="getCodeList" resultType="Code">
		SELECT DISTINCT
			code AS subCode
		FROM
			gbl_ib	
	</select>
	
	<select id="checkWeight" parameterType="Map" resultType="Integer">
		SELECT
			count(*)
		FROM
			weight_ib
		WHERE
			gblSeq = #{seq}			
	</select>
	
	<select id="getWeightList" parameterType="Integer" resultType="WeightIb">
		SELECT
			seq, piece, type, gross, grossKg, tare, net, cuft, reweight, remark, gblSeq
		FROM
			weight_ib
		WHERE
			gblSeq = #{value}
	</select>
	
	<!-- 이전 버전 -->
	
	<select id="getGblProcess" parameterType="Integer" resultMap="StatusMap">
		SELECT
			gbl_no, gbl_input, gbl_preperation, gbl_delivery, gbl_truckmanifast, gbl_bookinglist, gbl_invoice, gbl_arrival, gbl_process
		FROM
			gbl_status
		WHERE
			gbl_no = (select gbl_no from gbl_ib where seq = #{value})
	</select>
	
	<select id="getGblFileList" parameterType="Integer" resultMap="GBLAttachmentMap">
		SELECT
			seq, gbl_no, file_name, file_path, file_extension, file_size, gbl_file_no, gbl_update_date
		FROM
			gbl_attachments
		WHERE
			gbl_no = (select gbl_no from gbl_ib where seq = ${value})
	</select>

	<select id="getDd619List" parameterType="String" resultMap="Dd619Map">
		SELECT
			seq, gbl_no, date, name, ssn, rank, origin_of_shipment, destination, ordering_activity_name, carrier_name, agent_name, signature, carrier_shipment_reference, code, other, total, remark, officer_material, officer_signature, officer_date, rank_and_name, transportation_date, gbl_seq, write_date, write_user
		FROM
			dd619_ib
		WHERE
			gbl_seq = #{seq}
	</select>
	
	<insert id="insertFreight" parameterType="GBL">
	INSERT INTO
		gbl_ib
		(
			gblNo,
			shipperName,
			rank,
			code,
			tsp,
			destAddress,
			pud,
			rdd,
			arriveDate,
			awbNo,
			ssn,
			pmjDate,
			area,
			fright,
			eMailAddress,
			oblNo,
			vessle,
			blCompany,
			remark,
			eta,
			sit,
			rate,
			yjNo,
			totalPcs
		)
	VALUES
		(
			#{gblNo},
			#{shipperName},
			#{rank},
			#{code},
			#{tsp},
			#{destAddress},
			#{pud},
			#{rdd},
			#{arriveDate},
			#{awbNo},
			#{ssn},
			#{pmjDate},
			#{areaLocal},
			#{fright},
			#{eMailAddress},
			#{oblNo},
			#{vessle},
			#{blCompany},
			#{remark},
			#{eta},
			#{sit},
			#{rate},
			#{yjNo},
			#{totalPcs}		
		)
	</insert>
	
	<insert id="insertFreightStatus" parameterType="GBL">
	INSERT INTO
		gbl_status
		(
			gbl_no, gbl_input, gbl_preperation, gbl_delivery, gbl_truckmanifast, gbl_bookinglist, gbl_invoice, gbl_arrival, gbl_process
		)
	VALUES
		(
			#{gblNo}, 1, 0, 0, 0, 0, 0, 0, 0
		)
	</insert>
	
	<insert id="insertWeightAdd" parameterType="WeightIb">
		INSERT INTO
			weight_ib
			(
				piece, type, gross, grossKg, tare, net, cuft, remark, gblSeq
			)
		VALUES
			(
				#{piece}, #{type}, #{gross}, #{grossKg}, #{tare}, #{net}, #{cuft}, #{remark}, #{gblSeq}
			)
	</insert>

	<insert id="insertAttachment" parameterType="GBLAttachment">
		INSERT INTO
			gbl_attachments
			(
				gbl_no, file_name, file_path, file_extension, file_size, gbl_file_no, gbl_update_date
			)
		VALUES
			(
				#{gblNo}, #{fileName}, #{filePath}, #{fileExtension}, #{fileSize}, #{gblFileNo}, SYSDATE()
			)
	</insert>

	<insert id="insertDd619" parameterType="Dd619">
		INSERT INTO
			dd619_ib
			(
				gbl_seq, gbl_no, name, rank, ssn, code, carrier_shipment_reference, write_date, memorandum_list_seq
			)
		VALUES
		(
			#{gblSeq}, #{gblNo}, #{name}, #{rank}, #{ssn}, #{code}, #{carrierShipmentReference}, SYSDATE(), #{memorandumListSeq}
		)
	</insert>

	<delete id="deleteDd619" parameterType="Dd619">
		DELETE FROM
			dd619_ib
		WHERE
			gbl_seq = #{gblSeq}
		AND
			memorandum_list_seq = #{memorandumListSeq}
	</delete>
</mapper>