<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="invoiceMapper">
	<resultMap type="Invoice" id="InvoiceMap">
		<result column="seq" property="seq"/>
		<result column="invoice_no" property="invoiceNo"/>
		<result column="tsp" property="tsp"/>
		<result column="start_date" property="startDate"/>
		<result column="end_date" property="endDate"/>
		<result column="write_date" property="writeDate"/>
		<result column="complete" property="complete"/>
		<result column="amount" property="amount"/>
		<result column="invoice_date" property="invoiceDate"/>
	</resultMap>

	<resultMap type="GBL" id="GblMap">
		<result column="seq" property="seq" />
		<result column="no" property="no" />
		<result column="pud" property="pud" />
		<result column="rank" property="rank" />
		<result column="code" property="code" />
		<result column="scac" property="scac" />
		<result column="ssn" property="ssn" />
		<result column="customer_name" property="customerName" />
		<result column="area" property="areaLocal" />
		<result column="us_no" property="usNo" />
		<result column="dest_port" property="destPort"/>
		<result column="origin_gblock" property="originGBlock"/>
		<result column="dest_gblock" property="destGBlock"/>
		<result column="rdd" property="rdd"/>
		<result column="pod" property="pod"/>
		<result column="poe" property="poe"/>
		<result column="origin_address" property="originAddress"/>
		<result column="origin_port" property="originPort"/>
		<result column="origin_city" property="originCity"/>
		<result column="mil_svc" property="milSVC"/>
		<result column="etd" property="etd"/>
		<result column="eta" property="eta"/>
		<result column="bl_no" property="blNo"/>
		<result column="pcs" property="pcs" />
		<result column="lbs" property="lbs" />
		<result column="cuft" property="cuft" />
		<result column="truck_check" property="truckCheck"/>
		<result column="booking_check" property="bookingCheck"/>
	</resultMap>
	
	<resultMap type="InvoiceGbl" id="InvoiceGblMap">
		<result column="seq" property="seq" />
		<result column="invoice_list_seq" property="invoiceListSeq" />
		<result column="gbl_seq" property="gblSeq" />
		<result column="gbl_no" property="gblNo" />
		<result column="rank" property="rank" />
		<result column="name" property="name" />
		<result column="amount" property="amount" />
		<result column="complete" property="complete" />
		<result column="scac" property="tsp" />
		<result column="code" property="code" />
		<result column="pud" property="pud" />
	</resultMap>
	
	<resultMap type="InvoiceGbl" id="InvoiceInfoMap">
		<result column="invoice_list_seq" property="invoiceListSeq" />
		<result column="tsp" property="invoice.tsp"/>
		<result column="process" property="invoice.process" />
		<result column="gbl_no" property="gblNo"/>
		<result column="rank" property="rank" />
		<result column="name" property="name" />
		<result column="code" property="code" />
		<result column="remark" property="remark" />
	</resultMap>
	
	<select id="getInvoicesttingGblListCount" parameterType="InvoiceGblFilter" resultType="Integer">			
		SELECT 
			count(*) AS count
		FROM 
			gbl g
		WHERE
			 g.seq IN (
				SELECT
					seq
				FROM
					gbl g1, gbl_status g2
				WHERE
					g1.no = g2.gbl_no
				AND
					g2.gbl_preperation = TRUE
				AND
					g2.gbl_truckmanifast = TRUE
				AND
					g2.gbl_bookingList = TRUE
				AND
					g2.gbl_invoice = FALSE
				
			)
		<if test="area != null and area != ''">
			AND
				area = (select code_etc from symbol where main_code = '01' and sub_code = #{area})
		</if>
		<if test="branch != null and branch != ''">
			AND		
				area = #{branch}			
		</if>
		<if test="carrier != null and carrier != ''">
			AND
				scac = #{carrier}
		</if>
		<if test="code != null and code != ''">
			AND
				code = #{code}
		</if>
		<if test="startPud != null and startPud != ''">
			AND
				pud &gt;= str_to_date(#{startPud}, '%Y%m%d')
		</if>
		<if test="endPud != null and endPud != ''">
			AND
				pud &lt;= str_to_date(#{endPud}, '%Y%m%d')
		</if>
		<if test="truckManifastFlag == false">
			AND
				no NOT LIKE '%-sub%'
		</if>
		<if test="truckManifastFlag == true">
			OR
				no LIKE '%-sub%'
		</if>			
	</select>
	
	<select id="getInvoiceSettingGblListIbCount" parameterType="InvoiceGblFilter" resultType="Integer">			
		SELECT 
			count(*) AS count
		FROM 
			gbl_ib g
		WHERE
			 g.seq IN (
				SELECT
					seq
				FROM
					gbl_ib g1, gbl_status g2
				WHERE
					g1.gblNo = g2.gbl_no
				AND
					g2.gbl_weight = TRUE
				AND
					g2.gbl_custom = TRUE
				AND
					g2.gbl_onHandList = TRUE
				AND
					g2.gbl_delivery = TRUE
				AND
					g2.gbl_invoice = FALSE
				
			)
		<if test="area != null and area != ''">
			AND
				area = (select code_etc from symbol where main_code = '01' and sub_code = #{area})
		</if>
		<if test="branch != null and branch != ''">
			AND		
				area = #{branch}			
		</if>
		<if test="carrier != null and carrier != ''">
			AND
				tsp = #{carrier}
		</if>
		<if test="code != null and code != ''">
			AND
				code = #{code}
		</if>
		<if test="startPud != null and startPud != ''">
			AND
				pud &gt;= str_to_date(#{startPud}, '%Y%m%d')
		</if>
		<if test="endPud != null and endPud != ''">
			AND
				pud &lt;= str_to_date(#{endPud}, '%Y%m%d')
		</if>		
	</select>
	
	<select id="getInvoiceSettingGblListIb" parameterType="InvoiceGblFilter" resultMap="GblMap">				
		SELECT 
			a.cuft, gt.*, a.lbs, pcs
		FROM 
			(SELECT
				g.gblNo, SUM(w.gross) AS lbs, SUM(w.cuft) AS cuft, COUNT(w.piece) AS pcs 
			FROM gbl_ib g, weight_ib w
			WHERE g.seq = w.gblSeq
			<if test="area != null and area != ''">
				AND
					g.area = (select code_etc from symbol where main_code = '01' and sub_code = #{area})
			</if>
			<if test="branch != null and branch != ''">
				AND		
					g.area = #{branch}			
			</if>
			<if test="carrier != null and carrier != ''">
				AND
					g.tsp = #{carrier}
			</if>
			<if test="code != null and code != ''">
				AND
					g.code = #{code}
			</if>
			<if test="startPud != null and startPud != ''">
				AND
					g.pud &gt;= str_to_date(#{startPud}, '%Y%m%d')
			</if>
			<if test="endPud != null and endPud != ''">
				AND
					g.pud &lt;= str_to_date(#{endPud}, '%Y%m%d')
			</if>
			AND g.seq IN (
				SELECT
					seq
				FROM
					gbl_ib g1, gbl_status g2
				WHERE
					g1.gblNo = g2.gbl_no
				AND
					g2.gbl_weight = TRUE
				AND
					g2.gbl_custom = TRUE
				AND
					g2.gbl_onHandList = TRUE
				AND
					g2.gbl_delivery = TRUE
				AND
					g2.gbl_invoice = FALSE
				
			)		
			GROUP BY g.gblNo
			) a, gbl_ib gt
		WHERE
			gt.gblNo = a.gblNo
		ORDER BY
			gt.pud	
	</select>
	
	<select id="getInvoiceSettingGblList" parameterType="InvoiceGblFilter" resultMap="GblMap">				
		SELECT 
			gt.*, a.cuft, pcs
		FROM 
			(SELECT
				g.no, w.booking_check, SUM(w.cuft) AS cuft, COUNT(w.piece) AS pcs 
			FROM gbl g, weight_certificate w
			WHERE g.seq = w.gbl_seq
			<if test="area != null and area != ''">
				AND
					g.area = (select code_etc from symbol where main_code = '01' and sub_code = #{area})
			</if>
			<if test="branch != null and branch != ''">
				AND		
					g.area = #{branch}			
			</if>
			<if test="carrier != null and carrier != ''">
				AND
					g.scac = #{carrier}
			</if>
			<if test="code != null and code != ''">
				AND
					g.code = #{code}
			</if>
			<if test="startPud != null and startPud != ''">
				AND
					g.pud &gt;= str_to_date(#{startPud}, '%Y%m%d')
			</if>
			<if test="endPud != null and endPud != ''">
				AND
					g.pud &lt;= str_to_date(#{endPud}, '%Y%m%d')
			</if>
			<if test="truckManifastFlag == false">
				AND
					g.no NOT LIKE '%-sub%'
			</if>
			<if test="truckManifastFlag == true">
				OR
					g.no LIKE '%-sub%'
			</if>
			AND g.seq IN (
				SELECT
					seq
				FROM
					gbl g1, gbl_status g2
				WHERE
					g1.no = g2.gbl_no
				AND
					g2.gbl_preperation = TRUE
				AND
					g2.gbl_truckmanifast = TRUE
				AND
					g2.gbl_bookingList = TRUE
				AND
					g2.gbl_invoice = FALSE
				
			)		
			GROUP BY g.no, w.truck_check
			) a, gbl gt
		WHERE
			gt.no = a.no
		ORDER BY
			gt.pud	
	</select>
	
	<select id="getInvoiceSettingGblContent" parameterType="String" resultMap="InvoiceGblMap">		
		SELECT
			g.seq AS gbl_seq, g.no AS gbl_no, g.rank, g.customer_name AS name, g.scac, g.pud 
		FROM
			gbl g, gbl_status gs
		WHERE
			g.seq = #{value}
		AND
			g.no = gs.gbl_no
		AND
			gs.gbl_invoice = false
		AND
			gs.gbl_truckmanifast = true
		AND
			gs.gbl_bookingList = true			
	</select>
	
	<select id="getInvoiceSettingGblContentIb" parameterType="String" resultMap="InvoiceGblMap">		
		SELECT
			g.seq AS gbl_seq, g.gblNo AS gbl_no, g.rank, g.shipperName AS name, g.tsp, g.pud 
		FROM
			gbl_ib g, gbl_status gs
		WHERE
			g.seq = #{value}
		AND
			g.gblNo = gs.gbl_no
		AND
			gs.gbl_invoice = false
		AND
			gs.gbl_delivery = true
		AND
			gs.gbl_onHandList = true
		AND
			gs.gbl_custom = true
		AND
			gs.gbl_weight = true		
	</select>
	
	<select id="checkTodayInvoiceNo" resultType="String">
		SELECT
			invoice_no
		FROM
			invoice_list
		WHERE
			DATE_FORMAT(write_date, '%Y%m%d') = DATE_FORMAT(SYSDATE(), '%Y%m%d')
	</select>
	
	<select id="getYearList" parameterType="Rate" resultType="String">
		SELECT
			year
		FROM
			yearListTable	
		ORDER BY
			year desc		
	</select>
	
	<select id="getSitListCount" parameterType="Rate" resultType="Integer">
		SELECT
			COUNT(*)
		FROM
			invoice_sit_rate
		WHERE
			write_year = #{writeYear}
	</select>
	
	<select id="getSitList" parameterType="Rate" resultType="Rate">
		SELECT
			seq, title, code, process, rate, write_year AS writeYear
		FROM
			invoice_sit_rate
		WHERE
			<choose>
				<when test="writeYear != null">
					write_year = #{writeYear}
				</when>
			</choose>			
		ORDER BY
			seq, process DESC
	</select>
	
	<select id="getSit" parameterType="Rate" resultType="Rate">
		SELECT
			seq, title, code, process, rate, write_year AS writeYear
		FROM
			invoice_sit_rate
		WHERE
			write_year = DATE_FORMAT(#{writeYear}, '%Y')
		AND
			title = #{title}
		AND
			process = #{process}
	</select>
	
	<select id="getOtherListCount" parameterType="Rate" resultType="Integer">
		SELECT
			COUNT(*)
		FROM
			invoice_other_rate
		WHERE
			write_year = #{writeYear}
	</select>
	
	<select id="getOtherList" parameterType="Rate" resultType="Rate">
		SELECT
			seq, title, code, process, rate, write_year AS writeYear
		FROM
			invoice_other_rate
		WHERE
			<choose>
				<when test="writeYear != null">
					write_year = #{writeYear}
				</when>

			</choose>			
		ORDER BY
			seq, process DESC		
	</select>	
	
	<select id="getOther" parameterType="Rate" resultType="Rate">
		SELECT
			seq, title, code, process, rate, write_year AS writeYear
		FROM
			invoice_other_rate
		WHERE
			write_year = DATE_FORMAT(#{writeYear}, '%Y')
		AND
			title = #{title}
		AND
			code = #{code}		
		AND
			process = #{process}
	</select>
	
	<select id="getBasicRateCheck" parameterType="Rate" resultType="Integer">
		SELECT
			count(*)
		FROM
			invoice_rate
		WHERE
			tsp = #{tsp}
		AND
			code = #{code}
		AND
			process = #{process}
		<choose>
			<when test="writeYear != null">
				AND
					write_year = #{writeYear}		
			</when>
		</choose>		
		<if test="obType != null">
			AND
				ob_type = #{obType}
		</if>
	</select>
	
	<select id="getBasicRateList" parameterType="Rate" resultType="Rate">
		SELECT
			seq, tsp, code, rate, process, ob_type AS obType, write_year AS writeYear
		FROM
			invoice_rate
		WHERE
			<choose>
				<when test="writeYear != null">
					write_year = #{writeYear}			
				</when>
			</choose>
		AND
			container_rate is null
		ORDER BY
			process, tsp, code
	</select>
	
	<select id="getBasicRate" parameterType="Rate" resultType="Rate">
		SELECT
			seq, tsp, code, rate, process, ob_type AS obType, write_year AS writeYear
		FROM
			invoice_rate
		WHERE
			write_year = DATE_FORMAT(#{writeYear}, '%Y')
		AND
			tsp = #{tsp}
		AND
			code = #{code}
		AND
			process = #{process}			
		<if test="obType != null">
			AND
				ob_type = #{obType}
		</if>
		group by writeYear			
	</select>
	
	<select id="getContainerCheck" parameterType="Rate" resultType="Integer">
		SELECT
			count(*)
		FROM
			invoice_rate
		WHERE
			tsp = #{tsp}
		AND
			container_status = #{containerStatus}
		<choose>
			<when test="writeYear != null">
				AND
					write_year = #{writeYear}		
			</when>
		</choose>
	</select>
	
	<select id="getEtcCheck" parameterType="Rate" resultType="Integer">
		SELECT
			count(*)
		FROM
			invoice_etc_rate
		WHERE
			write_year = DATE_FORMAT(#{writeYear}, '%Y')
	</select>
	
	<select id="etcList" parameterType="Rate" resultType="Rate">
		SELECT
			seq, title, rate, write_year
		FROM
			invoice_etc_rate
		WHERE
			<choose>
				<when test="writeYear != null">
					write_year = #{writeYear}
				</when>

			</choose>
	</select>
	
	<select id="getEtc" parameterType="Map" resultType="Rate">
		SELECT
			seq, title, rate, write_year
		FROM
			invoice_etc_rate
		WHERE
			write_year = DATE_FORMAT(#{pud}, '%Y')
		AND
			title = #{title}
			
	</select>
	
	<select id="getContainerRateList" parameterType="Rate" resultType="Rate">
		SELECT
			seq, tsp, container_status AS containerStatus, container_rate AS containerRate, write_year AS writeYear
		FROM
			invoice_rate
		WHERE
			<choose>
				<when test="writeYear != null">
					write_year = #{writeYear}
				</when>
			</choose>
		AND
			container_rate is not null
		ORDER BY
			process, tsp, code
	</select>	
	
	<select id="getContainerRate" parameterType="Rate" resultType="Rate">	
		SELECT
			seq, tsp, container_status AS containerStatus, container_rate AS containerRate, write_year AS writeYear
		FROM
			invoice_rate
		WHERE
			write_year = DATE_FORMAT(#{writeYear}, '%Y')
		AND
			tsp = #{tsp}
		AND
			container_status = #{containerStatus}
		GROUP BY
			tsp;
	</select>
	
	<select id="getInvoiceListCount" parameterType="InvoiceFilter" resultType="Integer">
		SELECT
			count(*)
		FROM
			invoice_list
		WHERE
			1 = 1
		<if test="tsp != null and tsp != ''">
			AND
				tsp = #{tsp}
		</if>			
		<if test="startDate != null and startDate != ''">
			AND
				invoice_date &gt;= str_to_date(#{startDate}, '%Y%m%d')
		</if>
		<if test="endDate != null and endDate != ''">
			AND
				invoice_date &lt;= str_to_date(#{endDate}, '%Y%m%d')
		</if>
		<if test="gblNo != null and gblNo != ''">
			AND
				seq = (SELECT DISTINCT invoice_list_seq FROM invoice_gbl WHERE gbl_no = #{gblNo})
		</if>
		<if test="invoiceNo !=null and invoiceNo !=''">
			AND
				invoice_no = #{invoiceNo}
		</if>
		<if test="process != null and process != ''">
			AND
				process = #{process}
		</if>
	</select>
	
	<select id="getInvoiceList" parameterType="InvoiceFilter" resultMap="InvoiceMap">
		SELECT 
			*
		FROM	
		(
			SELECT
				(@rownum := @rownum + 1) AS rownum,
				i.seq, i.invoice_no, i.tsp, i.start_date, i.end_date, i.write_date, i.complete, i.amount,i.invoice_date
			FROM
				invoice_list i, (SELECT @rownum := 0) r
			WHERE
				1 = 1
			<if test="tsp != null and tsp != ''">
				AND
					tsp = #{tsp}
			</if>			
			<if test="startDate != null and startDate != ''">
				AND
					invoice_date &gt;= str_to_date(#{startDate}, '%Y%m%d')
			</if>
			<if test="endDate != null and endDate != ''">
				AND
					invoice_date &lt;= str_to_date(#{endDate}, '%Y%m%d')
			</if>
			<if test="gblNo != null and gblNo != ''">
				AND
					seq = (SELECT DISTINCT invoice_list_seq FROM invoice_gbl WHERE gbl_no = #{gblNo})
			</if>
			<if test="process != null and process != ''">
				AND
					process = #{process}
			</if>
			<if test="invoiceNo !=null and invoiceNo !=''">
			AND
				invoice_no = #{invoiceNo}
			</if>
			ORDER BY
				i.seq desc
		) il
		WHERE rownum BETWEEN #{pagination.itemSeqBegin} AND #{pagination.itemSeqEnd}
	</select>
	
	<select id="getSettingGblList" parameterType="Invoice" resultMap="InvoiceGblMap">		
		SELECT
			g.seq AS gbl_seq, g.no AS gbl_no, g.rank, g.customer_name AS name 
		FROM
			gbl g, gbl_status gs
		WHERE
			g.scac = #{tsp}
		AND
			g.pud BETWEEN #{startDate} and #{endDate}
		AND
			g.no = gs.gbl_no
		AND
			gs.gbl_invoice = false
		AND
			gs.gbl_truckmanifast = true
		AND
			gs.gbl_bookingList = true		
	</select>
	
	<select id="getInvoice" parameterType="Invoice" resultMap="InvoiceMap">
		SELECT
			seq, tsp, start_date, end_date, write_date, complete, invoice_date, invoice_no
		FROM
			invoice_list
		WHERE
			seq = #{seq}
	</select>
	
	<select id="getSitNumber" parameterType="Integer" resultType="String">
		select
			sit_no
				from
					memorandum
				where
					gbl_seq = #{gblSeq}
				and
					type = 05
	</select>
	
	<select id="getSitStartDay" parameterType="Integer" resultType="String">
		select
			sit_start_date
				from
					memorandum
				where
					gbl_seq = #{gblSeq}
				and
					type = 06
	</select>
	
	<select id="getSitEndDay" parameterType="Integer" resultType="String">
		select
			sit_end_date
				from
					memorandum
				where
					gbl_seq = #{gblSeq}
				and
					type = 07
	</select>
	
	<select id="getTerminationReason" parameterType="Integer" resultType="String">
		select
			termination
				from
					memorandum
				where
					gbl_seq = #{gblSeq}
				and
					type = 09
	</select>
	<select id="getExtraPickupCheck" parameterType="Integer" resultType="String">
		select
			extra_pick_up_charge
				from
					memorandum
				where
					gbl_seq = #{gblSeq}
				and
					type = 04
	</select>
	<select id="getLongcarryAmount" parameterType="Integer" resultType="String">
		select
			long_carry
				from
					memorandum
				where
					gbl_seq = #{gblSeq}
				and
					type = 08
	</select>
	<select id="getInvoiceGblList" parameterType="Integer" resultMap="InvoiceGblMap">
		SELECT
			ig.seq, ig.invoice_list_seq, ig.gbl_seq, ig.gbl_no, ig.rank, ig.name, ig.amount, ig.complete, g.code,g.pud
		FROM
			invoice_gbl ig, gbl g
		WHERE
			ig.invoice_list_seq = #{value}
		AND
			ig.gbl_seq = g.seq
	</select>
<!-- 	<update id="modifyInvoiceGbl" parameterType="GBL">
			update
				invoice_gbl
			set
				name=#{customerName}
	</update> -->
	<select id="getInvoiceGblListIb" parameterType="Integer" resultMap="InvoiceGblMap">
		SELECT
			ig.seq, ig.invoice_list_seq, ig.gbl_seq, ig.gbl_no, ig.rank, ig.name, ig.amount, ig.complete, g.code,g.pud
		FROM
			invoice_gbl ig, gbl_ib g
		WHERE
			ig.invoice_list_seq = #{value}
		AND
			ig.gbl_seq = g.seq
	</select>
	
	<select id="getInvoiceGblListbyInvoice" parameterType="Invoice" resultMap="InvoiceGblMap">
		SELECT
			seq, invoice_list_seq, gbl_seq, gbl_no, rank, name, amount, complete
		FROM
			invoice_gbl
		WHERE
			invoice_list_seq = #{seq}
	</select>
	
	<select id="getInvoiceGblContentCount" parameterType="Integer" resultType="Integer">
		SELECT
			count(*)
		FROM
			invoice_gbl_content
		WHERE
			invoice_gbl_seq = #{value}
	</select>
	
	<select id="getTotalWeightCertificate" parameterType="Integer" resultType="WeightCertificate">		
        SELECT
        	seq,
        	piece,
        	type,
        	status,
        	SUM(gross) gross,
        	SUM(tare) tare,
        	SUM(net) net,
        	remark,
        	gbl_seq AS gblSeq,
        	DATE AS DATE,
        	truck_check AS truckCheck,
        	truck_seq AS truckSeq
        FROM
        	weight_certificate
        WHERE
			gbl_seq = #{value}
		GROUP BY
			gbl_seq
	</select>
	
	<select id="checkInvoiceContent" parameterType="InvoiceGblContent" resultType="Integer">
		SELECT
			seq
		FROM
			invoice_gbl_content
		WHERE
			invoice_gbl_seq = #{invoiceGblSeq}
		AND
			charging_item = #{chargingItem}
	</select>
	
	<select id="getInvoiceGblContentInfo" parameterType="Integer" resultMap="InvoiceInfoMap">
		SELECT
			ig.invoice_list_seq, i.tsp, i.process, ig.gbl_no, ig.rank, ig.name, g.code, ig.remark
		FROM
			invoice_list i, invoice_gbl ig, gbl g
		WHERE
			ig.invoice_list_seq = i.seq
		AND
			g.seq = ig.gbl_seq
		AND
			ig.seq = #{value}
	</select>
	
	<select id="getInvoiceGblContentInfoIb" parameterType="Integer" resultMap="InvoiceInfoMap">
		SELECT
			ig.invoice_list_seq, i.tsp, i.process, ig.gbl_no, ig.rank, ig.name, g.code, ig.remark
		FROM
			invoice_list i, invoice_gbl ig, gbl_ib g
		WHERE
			ig.invoice_list_seq = i.seq
		AND
			g.seq = ig.gbl_seq
		AND
			ig.seq = #{value}
	</select>
	
	<select id="getCarrierList" parameterType="InvoiceFilter" resultType="Code">
		SELECT DISTINCT
			tsp AS subCode
		FROM
			invoice_list	
		WHERE
			process = #{process}
	</select>
	
	<select id="getInvoiceCollectionListCount" parameterType="InvoiceFilter" resultType="Integer">
		SELECT
			count(*)
		FROM
			invoice_list
		WHERE
			amount IS NOT NULL
		<if test="tsp != null and tsp != ''">
			AND
				tsp = #{tsp}
		</if>			
		<if test="startDate != null and startDate != ''">
			AND
				start_date &gt;= str_to_date(#{startDate}, '%Y%m%d')
		</if>
		<if test="endDate != null and endDate != ''">
			AND
				end_date &lt;= str_to_date(#{endDate}, '%Y%m%d')
		</if>
		<if test="gblNo != null and gblNo != ''">
			AND
				seq = (SELECT DISTINCT invoice_list_seq FROM invoice_gbl WHERE gbl_no = #{gblNo})
		</if>
		<if test="process != null and process != ''">
			AND
				process = #{process}
		</if>
		<if test="invoiceNo != null and invoiceNo != ''">
			AND
				invoice_no=#{invoiceNo}
		</if>
	</select>
	
	<select id="getInvoicecollectionList" parameterType="InvoiceFilter" resultMap="InvoiceMap">
		SELECT 
			*
		FROM	
		(
			SELECT
				(@rownum := @rownum + 1) AS rownum,
				i.seq, i.invoice_no, i.tsp, i.start_date, i.end_date, i.write_date, i.complete, i.amount
			FROM
				invoice_list i, (SELECT @rownum := 0) r
			WHERE
				amount IS NOT NULL
			<if test="tsp != null and tsp != ''">
				AND
					tsp = #{tsp}
			</if>			
			<if test="startDate != null and startDate != ''">
				AND
					start_date &gt;= str_to_date(#{startDate}, '%Y%m%d')
			</if>
			<if test="endDate != null and endDate != ''">
				AND
					end_date &lt;= str_to_date(#{endDate}, '%Y%m%d')
			</if>
			<if test="gblNo != null and gblNo != ''">
				AND
					i.seq = (SELECT DISTINCT invoice_list_seq FROM invoice_gbl WHERE gbl_no = #{gblNo})
			</if>
			<if test="process != null and process != ''">
				AND
					process = #{process}
			</if>
			<if test="invoiceNo !=null and invoiceNo !=''">
				AND
					invoice_no = #{invoiceNo}
			</if>
			ORDER BY
				i.seq desc
		) il
		WHERE rownum BETWEEN #{pagination.itemSeqBegin} AND #{pagination.itemSeqEnd}
		
	</select>
	
	<resultMap type="InvoiceCollection" id="InvoiceCollectionMap">
		<result column="seq" property="seq"/>
		<result column="state" property="state"/>
		<result column="net" property="net"/>
		<result column="remark" property="remark"/>
		<result column="invoice_seq" property="invoiceSeq"/>
		<collection property="invoiceColltionFlowList" column="seq" javaType="ArrayList" ofType="InvoiceCollectionFlow" select="getInvoiceCollectionFlow" /> 
	</resultMap>
	
	<resultMap type="InvoiceCollection" id="InvoiceCollectionGblMap">
		<result column="seq" property="seq"/>
		<result column="state" property="state"/>
		<result column="net" property="net"/>
		<result column="remark" property="remark"/>
		<result column="invoice_seq" property="invoiceSeq"/>
		<collection property="invoiceColltionFlowList" column="seq" javaType="ArrayList" ofType="InvoiceCollectionFlow" select="getInvoiceCollectionGblFlow" /> 
	</resultMap>
	
	<select id="getInvoiceCollectionListAndFlow" parameterType="InvoiceFilter" resultMap="InvoiceCollectionMap">
		SELECT
			ic.seq, ic.state, ic.net, ic.difference, ic.remark, ic.invoice_seq
		FROM
			invoice_collection ic, invoice_list il
		WHERE
			ic.invoice_seq = il.seq
		
		<if test="tsp != null and tsp != ''">
			AND
				tsp = #{tsp}
		</if>			
		<if test="startDate != null and startDate != ''">
			AND
				start_date &gt;= str_to_date(#{startDate}, '%Y%m%d')
		</if>
		<if test="endDate != null and endDate != ''">
			AND
				end_date &lt;= str_to_date(#{endDate}, '%Y%m%d')
		</if>
		<if test="gblNo != null and gblNo != ''">
			AND
				ic.invoice_seq = (SELECT DISTINCT invoice_list_seq FROM invoice_gbl WHERE gbl_no = #{gblNo})
		</if>
		<if test="process != null and process != ''">
			AND
				process = #{process}
		</if>
		<if test="invoiceNo!=null and invoiceNo!=''">
			AND
				il.invoice_no = #{invoiceNo}
		</if>
	</select>
	<select id="getInvoiceCollectionListAndFlow2" parameterType="Integer" resultMap="InvoiceCollectionMap">
		SELECT
			ic.seq, ic.state, ic.net, ic.difference, ic.remark, ic.invoice_seq
		FROM
			invoice_collection ic, invoice_list il
		WHERE
			ic.invoice_seq = il.seq
		<if test="invoiceNoForCollection != null and invoiceNoForCollection !=''">
			AND
				il.invoice_no = #{invoiceNoForCollection}
		</if>
		<if test="tsp != null and tsp != ''">
			AND
				tsp = #{tsp}
		</if>			
		<if test="startDate != null and startDate != ''">
			AND
				start_date &gt;= str_to_date(#{startDate}, '%Y%m%d')
		</if>
		<if test="endDate != null and endDate != ''">
			AND
				end_date &lt;= str_to_date(#{endDate}, '%Y%m%d')
		</if>
		<if test="gblNo != null and gblNo != ''">
			AND
				ic.invoice_seq = (SELECT DISTINCT invoice_list_seq FROM invoice_gbl WHERE gbl_no = #{gblNo})
		</if>
		<if test="process != null and process != ''">
			AND
				process = #{process}
		</if>
		<if test="invoiceNo!=null and invoiceNo!=''">
			AND
				il.invoice_no = #{invoiceNo}
		</if>
	</select>
	<select id="updateInvoiceCollectionStatusComplete" parameterType="Integer">
		UPDATE
			invoice_collection
		SET
			state='COMPLETE'
		WHERE
			invoice_seq = #{seq}
	</select>
	<select id="updateInvoiceCollectionStatusPending" parameterType="Integer">
		UPDATE
			invoice_collection
		SET
			state='PENDING'
		WHERE
			invoice_seq = #{seq}
	</select>
	<select id="getSumAcceptedCollectionFlowAmount" parameterType="Integer" resultType="String">
		select
				sum(igcfAmount)
			from
			(
			select 
				il.seq as invoiceSeq,il.invoice_no as invoiceNo, il.amount as amount, ic.net as net,ic.difference as difference,
				il.process as process, ig.gbl_no as gblNo, ig.amount as gblAmount,
				igc.net as igcNet,igcf.state as igcfState,igcf.amount as igcfAmount
			from 
				invoice_list as il left join invoice_collection as ic on il.seq = ic.invoice_seq 
				left join invoice_gbl as ig on il.seq = ig.invoice_list_seq
				left join invoice_gbl_collection as igc on ig.seq = igc.invoice_gbl_seq
				left join invoice_gbl_collection_flow as igcf on igc.seq = igcf.invoice_gbl_collection_seq
			where
				il.seq = #{seq}
			and
				igcf.state !='CLAIM'
			)u
	</select>
	<select id="getSumInvoiceGblCollectionFlowAmount" parameterType="Integer" resultType="String">
		select
				sum(igcfAmount)
			from
			(
			select 
				il.seq as invoiceSeq,il.invoice_no as invoiceNo, il.amount as amount, ic.net as net,ic.difference as difference,
				il.process as process, ig.gbl_no as gblNo, ig.amount as gblAmount,
				igc.net as igcNet,igcf.state as igcfState,igcf.amount as igcfAmount
			from 
				invoice_list as il left join invoice_collection as ic on il.seq = ic.invoice_seq 
				left join invoice_gbl as ig on il.seq = ig.invoice_list_seq
				left join invoice_gbl_collection as igc on ig.seq = igc.invoice_gbl_seq
				left join invoice_gbl_collection_flow as igcf on igc.seq = igcf.invoice_gbl_collection_seq
			where
				il.seq = #{seq}
			and
				igcf.state !='CLAIM'
			)u
	</select>
		<select id="getInvoiceGblCollectionAmount" parameterType="Integer" resultType="String">
		select
			amount
			from
			(
			select 
				il.seq as invoiceSeq,il.invoice_no as invoiceNo, il.amount as amount, ic.net as net,ic.difference as difference,
				il.process as process, ig.gbl_no as gblNo, ig.amount as gblAmount,
				igc.net as igcNet,igcf.state as igcfState,igcf.amount as igcfAmount
			from 
				invoice_list as il left join invoice_collection as ic on il.seq = ic.invoice_seq 
				left join invoice_gbl as ig on il.seq = ig.invoice_list_seq
				left join invoice_gbl_collection as igc on ig.seq = igc.invoice_gbl_seq
				left join invoice_gbl_collection_flow as igcf on igc.seq = igcf.invoice_gbl_collection_seq
			where
				il.seq = #{seq}
			and
				igcf.state !='CLAIM'
			group by
				il.seq
			)u
	</select>
	<select id="getInvoiceCollectionFlow" resultType="InvoiceCollectionFlow">
		SELECT
			seq, amount, state, remark, write_date AS writeDate, invoice_collection_seq AS invoiceCollectionSeq
		FROM
			invoice_collection_flow
		WHERE
			invoice_collection_seq = #{seq}
	</select>
	
	<select id="checkAndGetCollectionSeq" parameterType="Integer" resultType="InvoiceCollection">
		SELECT
			seq, state, net, difference, invoice_seq AS invoiceSeq, remark
		FROM
			invoice_collection
		WHERE
			invoice_seq = #{value}
	</select>
	
	<select id="getInvoiceCollectionGblListAndFlow" parameterType="Integer" resultMap="InvoiceCollectionGblMap">
		SELECT
			ic.seq, ic.state, ic.net, ic.difference, ic.remark, ic.invoice_gbl_seq AS invoiceSeq
		FROM
			invoice_gbl_collection ic, invoice_gbl ig
		WHERE
			ic.invoice_gbl_seq = ig.seq
		AND
			ig.invoice_list_seq = #{value}
	</select>
	
	<select id="getInvoiceCollectionGblFlow" resultType="InvoiceCollectionFlow">
		SELECT
			seq, amount, state, remark, write_date AS writeDate, invoice_gbl_collection_seq AS invoiceCollectionSeq, date
		FROM
			invoice_gbl_collection_flow
		WHERE
			invoice_gbl_collection_seq = #{seq}
	</select>
	
	<select id="checkAndGetGblCollectionSeq" parameterType="Integer" resultType="InvoiceCollection">
		SELECT
			seq, state, net, difference, invoice_gbl_seq AS invoiceSeq, remark
		FROM
			invoice_gbl_collection
		WHERE
			invoice_gbl_seq = #{value}
	</select>
	
	<select id="getInvoiceCollectionSeq" parameterType="Integer" resultType="Integer">
		SELECT
			seq
		FROM
			invoice_collection
		WHERE
			invoice_seq = #{value}
	</select>
	<insert id="addRateYear" parameterType="Map">
		INSERT INTO
			yearListTable
			(
				year
			)
		VALUES
			(#{year})
	</insert>
	<insert id="insertNewYearSIT" parameterType="Map">
		INSERT INTO
			invoice_sit_rate
			(
				title, code, process, write_year
			)
		VALUES
			<foreach collection="rateList" item="rate" separator=",">
				(#{rate.title}, #{rate.code}, #{rate.process},#{rate.writeYear} )
			</foreach>
	</insert>
	
	<insert id="insertNewYearOther" parameterType="Map">
		INSERT INTO
			invoice_other_rate
			(
				title, code, process, write_year
			)
		VALUES
			<foreach collection="rateList" item="rate" separator=",">
				(#{rate.title}, #{rate.code}, #{rate.process}, #{rate.writeYear})
			</foreach>
	</insert>
	
	<insert id="basicInsert" parameterType="Rate">
		INSERT INTO
			invoice_rate
			(
				tsp, code, rate, process, write_year
				<if test="obType != null">
					, ob_type
				</if>
			)
		VALUES
			(
				#{tsp}, #{code}, #{rate}, #{process}				
				<choose>
					<when test="writeYear != null and writeYear != ''">
							,#{writeYear}		
					</when>
					<otherwise>
						,DATE_FORMAT(SYSDATE(), '%Y')
					</otherwise>
				</choose>	
				<if test="obType != null">
					, #{obType}
				</if>
			)
	</insert>
	<insert id="etcInsert2" parameterType="Map">
		INSERT INTO
			invoice_etc_rate
			(
				title, rate, write_year
			)
		VALUES
			(
				#{title}, #{rate} ,#{writeYear}		
			)
	</insert>
	<insert id="etcInsert" parameterType="Rate">
		INSERT INTO
			invoice_etc_rate
			(
				title, rate, write_year
			)
		VALUES
			(
				#{title}, #{rate}				
				<choose>
					<when test="writeYear != null and writeYear != ''">
							,#{writeYear}		
					</when>
				</choose>	
			)
	</insert>
	
	<insert id="containerInsert" parameterType="Rate">
		INSERT INTO
			invoice_rate
			(
				tsp, container_rate, container_status, write_year
			)
		VALUES
			(
				#{tsp}, #{containerRate}, #{containerStatus}				
				<choose>
					<when test="writeYear != null and writeYear != ''">
							,#{writeYear}		
					</when>
					<otherwise>
						,DATE_FORMAT(SYSDATE(), '%Y')
					</otherwise>
				</choose>	
			)
	</insert>
	
	<insert id="insertInvoice" parameterType="Invoice">
		INSERT INTO
			invoice_list
			(
				invoice_no, tsp, start_date, end_date, write_date, complete, process, invoice_date
			)
		VALUES
			(
				#{invoiceNo}, #{tsp}, #{startDate}, #{endDate}, SYSDATE(), 0, #{process}, #{invoiceDate}
			)
		<selectKey keyProperty="seq" resultType="Integer">
			SELECT LAST_INSERT_ID()  
		</selectKey>
	</insert>
	
	<insert id="insertInvoiceGbl" parameterType="InvoiceGbl">
		INSERT INTO
			invoice_gbl
			(
				invoice_list_seq, gbl_seq, gbl_no, rank, name, amount, complete
			)
		VALUES
			(
				#{invoiceListSeq}, #{gblSeq}, #{gblNo}, #{rank}, #{name}, 0, 0
			)
	</insert>
	
	<insert id="insertInvoiceGblContent" parameterType="InvoiceGblContent">
		INSERT INTO
			invoice_gbl_content
			(
				invoice_gbl_seq, charging_item, quantity, amount
			)
		VALUES
			(
				#{invoiceGblSeq}, #{chargingItem}, #{quantity}, #{amount}
			)
	</insert>
	
	<insert id="inputCollectionNet" parameterType="InvoiceCollection">
		INSERT INTO
			invoice_collection
			(
				state, net, difference, invoice_seq
			)
		VALUES
			(
				#{state}, #{net}, #{difference}, #{invoiceSeq}
			)
		<selectKey keyProperty="seq" resultType="Integer">
			SELECT LAST_INSERT_ID()		
		</selectKey>
	</insert>
	
	<insert id="inputCollectionFlow" parameterType="InvoiceCollectionFlow">
		INSERT INTO
			invoice_collection_flow
			(
				amount, state, remark, write_date, invoice_collection_seq
			)
		VALUES
			(
				#{amount}, #{state}, #{remark}, SYSDATE(), #{invoiceCollectionSeq}
			)
	</insert>
	
	<insert id="inputGblCollectionNet" parameterType="InvoiceCollection">
		INSERT INTO
			invoice_gbl_collection
			(
				state, net, difference, invoice_gbl_seq 
			)
		VALUES
			(
				#{state}, #{net}, #{difference}, #{invoiceSeq}
			)
		<selectKey keyProperty="seq" resultType="Integer">
			SELECT LAST_INSERT_ID()		
		</selectKey>
	</insert>
	
	<insert id="inputGblCollectionFlow" parameterType="InvoiceCollectionFlow">
		INSERT INTO
			invoice_gbl_collection_flow
			(
				amount, state, remark, write_date, invoice_gbl_collection_seq,date
			)
		VALUES
			(
				#{amount}, #{state}, #{remark}, SYSDATE(), #{invoiceCollectionSeq},#{date}
			)
	</insert>
	
	<update id="basicUpdate" parameterType="Rate">
		UPDATE
			invoice_rate
		SET
			rate = #{rate}
		WHERE
			tsp = #{tsp}
		AND
			code = #{code}
		AND
			process = #{process}
		AND
			write_year = #{writeYear}
		<if test="obType != null">
			AND
				ob_type = #{obType}
		</if>		
	</update>
	
	<update id="etcRateUpate" parameterType="Rate">
		UPDATE
			invoice_etc_rate
		SET
			rate = #{rate}
		WHERE
			title = #{title}
		AND
			write_year = #{writeYear}
	</update>
	
	<update id="containerUpdate" parameterType="Rate">
		UPDATE
			invoice_rate
		SET
			container_rate = #{containerRate}
		WHERE
			tsp = #{tsp}
		AND
			container_status = #{containerStatus}		
		AND
			write_year = #{writeYear}
	</update>
	
	<update id="sitUpdate" parameterType="Rate">
		UPDATE
			invoice_sit_rate
		SET
			rate = #{rate}
		WHERE
			seq = #{seq}
	</update>
	
	<update id="otherUpdate" parameterType="Rate">
		UPDATE
			invoice_other_rate
		SET
			rate = #{rate}
		WHERE
			seq = #{seq}
	</update>
	
	<update id="updateInvoiceGblContent" parameterType="InvoiceGblContent">
		UPDATE
			invoice_gbl_content
		SET
			amount = #{amount}
		WHERE
			seq = #{seq}
	</update>
	
	<update id="updateInvoiceGbl" parameterType="InvoiceGbl">
		UPDATE
			invoice_gbl
		SET
			amount = #{amount},
			complete = #{complete}
		WHERE
			seq = #{seq}
	</update>
	
	<update id="checkAndUpdateInvoice" parameterType="Integer">
		UPDATE
			invoice_list
		SET
			complete = true,
			amount = (SELECT
						SUM(amount)
					FROM
						invoice_gbl
					WHERE
						invoice_list_seq = #{value}
					GROUP BY invoice_list_seq)	
		WHERE
			seq = (
					SELECT * FROM
					(
						SELECT seq FROM invoice_list i
						WHERE seq = #{value} 
						AND	
						(	SELECT
								COUNT(*)
							FROM
								invoice_gbl
							WHERE
								invoice_list_seq = i.seq
						) = 
						(
							SELECT 
								COUNT(*)
							FROM
								invoice_gbl
							WHERE
								invoice_list_seq = i.seq
							AND
								complete = TRUE
						) 
					) AS ck
				)			
	</update>
	
	<update id="updateCollectionNet" parameterType="InvoiceCollection">
		UPDATE
			invoice_collection
		SET
			state = #{state},
			net = #{net},
			difference = #{difference}
		WHERE
			seq = #{seq}
	</update>
	
	<update id="updateGblCollectionNet" parameterType="InvoiceCollection">
		UPDATE
			invoice_gbl_collection
		SET
			state = #{state},
			net = #{net},
			difference = #{difference}
		WHERE
			seq = #{seq}
	</update>
	
	<update id="invoiceCollectionRemarkInput" parameterType="Map">
		UPDATE
			invoice_gbl
		SET
			remark = #{remark}
		WHERE
			seq = #{seq}
	</update>
	
	<delete id="deleteInvoice" parameterType="Invoice">
		DELETE FROM
			invoice_list
		WHERE
			seq = #{seq}
		AND
			process = #{process}
	</delete>
	
	<delete id="removeYearListTable" parameterType="Map">
		DELETE FROM
			yearListTable
		WHERE
			year=#{year}
	</delete>
	<delete id="removeOtherRate" parameterType="Map">
		DELETE FROM
			invoice_other_rate
		WHERE
			write_year=#{year}
	</delete>
	<delete id="removeSitRate" parameterType="Map">
		DELETE FROM
			invoice_sit_rate
		WHERE
			write_year=#{year}
	</delete>
	<delete id="removeEtcRate" parameterType="Map">
		DELETE FROM
			invoice_etc_rate
		WHERE
			write_year=#{year}
	</delete>
	<delete id="removeRate" parameterType="Map">
		DELETE FROM
			invoice_rate
		WHERE
			write_year=#{year}
	</delete>
	<delete id="deleteInvoiceCollection" parameterType="String">
		DELETE FROM
			invoice_collection
		WHERE
			seq = #{value}
	</delete>
	
	<delete id="deleteInvoiceCollectionByInvoiceSeq" parameterType="Invoice">
		DELETE FROM
			invoice_collection
		WHERE
			seq in (SELECT DISTINCT seq FROM invoice_gbl WHERE invoice_list_seq = #{seq})
	</delete>
	
	<delete id="deleteInvoiceCollectionFlow" parameterType="String">
		DELETE FROM
			invoice_collection_flow
		WHERE
			seq = #{value}
	</delete>
	
	<delete id="deleteGblInvoiceCollection" parameterType="String">
		DELETE FROM
			invoice_gbl_collection
		WHERE
			seq = #{value}
	</delete>
	
	<delete id="deleteGblInvoiceCollectionFlow" parameterType="String">
		DELETE FROM
			invoice_gbl_collection_flow
		WHERE
			seq = #{value}
	</delete>
	
	<select id="getInvoiceSeqListByGblSeq" parameterType="Integer" resultType="Integer">
		SELECT
			DISTINCT invoice_list_seq
		FROM
			invoice_gbl
		WHERE
			gbl_seq = #{value}
	</select>
</mapper>