<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memorandumMapper">
	<resultMap type="Memorandum" id="MemorandumMap">
		<result property="seq" column="seq"/>
		<result property="type" column="type"/>
		<result property="subject" column="subject"/>
		<result property="comment" column="comment"/>
		<result property="area" column="area"/>
		<result property="articles" column="articles" />
		<result property="articleComment" column="article_comment"/>
		<result property="chiefOfOffice" column="chief_of_office"/>
		<result property="officeInfo" column="office_info"/>
		<result property="areaDirector" column="area_director"/>
		<result property="gblSeq" column="gbl_seq" />
		<result property="writeDate" column="write_date" />
	</resultMap>
	
	<select id="getMemorandum" parameterType="Memorandum" resultMap="MemorandumMap">
		SELECT
			seq, type, subject, comment, area, articles, article_comment, chief_of_office, office_info, area_director, gbl_seq, write_date
		FROM
			memorandum
		WHERE
			gbl_seq = #{gblSeq}
		AND
			type = #{type}
	</select>
	
	<select id="getMemorandumList" parameterType="String" resultMap="MemorandumMap">
		SELECT
			seq, type, subject, comment, area, articles, article_comment, chief_of_office, office_info, area_director, gbl_seq
		FROM
			memorandum
		WHERE
			gbl_seq = #{gblSeq}
	</select>
	
	<insert id="insertMemorandum" parameterType="Memorandum">
		INSERT INTO
			memorandum
			(
				type, subject, comment, area, articles, article_comment, chief_of_office, office_info, area_director, gbl_seq, write_date
			)
		VALUES
			(
				#{type}, #{subject}, #{comment}, #{area}, #{articles}, #{articleComment}, #{chiefOfOffice}, #{officeInfo}, #{areaDirector}, #{gblSeq}, SYSDATE()
			)
	</insert>
	
	<update id="updateMemorandum" parameterType="Memorandum">
	    UPDATE
	    	memorandum
	    SET
	    	subject = #{subject},
	    	comment = #{comment},
	    	area = #{area},
	    	articles = #{articles},
	    	article_comment = #{articleComment},
	    	chief_of_office = #{chiefOfOffice},
	    	office_info = #{officeInfo},
	    	area_director = #{areaDirector}
	    WHERE
	    	gbl_seq = #{gblSeq}
	    AND
	    	type = #{type}	    
	</update>
	
	<delete id="deleteMemorandum" parameterType="Memorandum">
		DELETE FROM
			memorandum
		WHERE
			gbl_seq = #{gblSeq}
		AND
			type = #{type}
	</delete>
</mapper>