<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memorandumMapper">
	<resultMap type="Memorandum" id="MemorandumMap">
		<result property="seq" column="seq"/>
		<result property="type" column="type"/>
		<result property="subject" column="subject"/>
		<result property="comment" column="comment"/>
		<result property="area" column="area"/>
		<result property="articles" column="articles" />
		<result property="articleComment1" column="article_comment1"/>
		<result property="articleComment2" column="article_comment2"/>
		<result property="articleComment3" column="article_comment3"/>
		<result property="articleComment4" column="article_comment4"/>
		<result property="articleComment5" column="article_comment5"/>
		<result property="gblSeq" column="gbl_seq" />
		<result property="writeDate" column="write_date" />
		<result property="extraPickUpCharge" column="extra_pick_up_charge" />
		<result property="termination" column="termination" />
		<result property="sitStartDate" column="sit_start_date" />
		<result property="sitEndDate" column="sit_end_date" />
		<result property="longCarry" column="long_carry" />
	</resultMap>
	
	<select id="getMemorandum" parameterType="Memorandum" resultMap="MemorandumMap">
		SELECT
			seq, type, subject, comment, area, articles, article_comment1, article_comment2, article_comment3, article_comment4, article_comment5, termination, sit_start_date, sit_end_date, long_carry, write_date
		FROM
			memorandum
		WHERE
			gbl_seq = #{gblSeq}
		AND
			type = #{type}
		<if test="memorandumSeq != null">
			AND
				memorandum_list_seq = #{memorandumSeq}
		</if>
	</select>
	
	<select id="getMemorandumIb" parameterType="Memorandum" resultMap="MemorandumMap">
		SELECT
			seq, type, subject, comment, area, articles, article_comment1, article_comment2, article_comment3, article_comment4, article_comment5, gbl_seq, write_date, extra_pick_up_charge, termination, sit_start_date, sit_end_date, long_carry
		FROM
			memorandum_ib
		WHERE
			gbl_seq = #{gblSeq}
		AND
			type = #{type}
		<if test="memorandumSeq != null">
			AND
				memorandum_list_seq = #{memorandumSeq}
		</if>
	</select>
	
	<select id="getMemorandumList" parameterType="Map" resultMap="MemorandumMap">
		SELECT
			seq, type, subject, comment, area, articles, article_comment1, article_comment2, article_comment3, article_comment4, article_comment5, gbl_seq, extra_pick_up_charge, termination, sit_start_date, sit_end_date, long_carry
		FROM
			memorandum
		WHERE
			gbl_seq = #{seq}
		<if test="memorandumSeq != null">	
			AND
				memorandum_list_seq = #{memorandumSeq}
		</if>
	</select>
	
	<select id="getMemorandumListIb" parameterType="Map" resultMap="MemorandumMap">
		SELECT
			seq, type, subject, comment, area, articles, article_comment1, article_comment2, article_comment3, article_comment4, article_comment5, gbl_seq, extra_pick_up_charge, termination, sit_start_date, sit_end_date, long_carry
		FROM
			memorandum_ib
		WHERE
			gbl_seq = #{seq}
		<if test="memorandumSeq != null">	
			AND
				memorandum_list_seq = #{memorandumSeq}
		</if>
	</select>
	
	<select id="getMemroandumAllList" parameterType="String" resultType="MemorandumList">
		SELECT
			seq, gbl_seq AS gblSeq, write_date AS writeDate
		FROM
			memorandum_list
		WHERE
			gbl_seq = #{value}
	</select>
	
	<select id="getMemroandumAllListIb" parameterType="String" resultType="MemorandumList">
		SELECT
			seq, gbl_seq AS gblSeq, write_date AS writeDate
		FROM
			memorandum_list_ib
		WHERE
			gbl_seq = #{value}
	</select>
	
	<select id="getMemorandumListSelectOne" parameterType="MemorandumList" resultType="memorandumList">
		SELECT
			seq, gbl_seq AS gblSeq, write_date AS writeDate
		FROM
			memorandum_list
		WHERE
			seq = #{seq}
	</select>
	
	<select id="getMemorandumListSelectOneIb" parameterType="MemorandumList" resultType="memorandumList">
		SELECT
			seq, gbl_seq AS gblSeq, write_date AS writeDate
		FROM
			memorandum_list_ib
		WHERE
			seq = #{seq}
	</select>
	
	<insert id="addMemorandumList" parameterType="MemorandumList">
		INSERT INTO
			memorandum_list
			(
				gbl_seq, write_date
			)
		VALUES
		(
			#{gblSeq}, SYSDATE()
		)
	    <selectKey keyProperty="seq" resultType="Integer">     
			SELECT LAST_INSERT_ID()        
	    </selectKey>
	</insert>
	
	<insert id="addMemorandumListIb" parameterType="MemorandumList">
		INSERT INTO
			memorandum_list_ib
			(
				gbl_seq, write_date
			)
		VALUES
		(
			#{gblSeq}, SYSDATE()
		)
	    <selectKey keyProperty="seq" resultType="Integer">     
			SELECT LAST_INSERT_ID()        
	    </selectKey>
	</insert>
	
	<insert id="insertMemorandum" parameterType="Memorandum">
		INSERT INTO
			memorandum
			(
				type, subject, comment, area, articles, article_comment1, article_comment2, article_comment3, article_comment4, article_comment5, gbl_seq, write_date, memorandum_list_seq
			)
		VALUES
			(
				#{type}, #{subject}, #{comment}, #{area}, #{articles}, #{articleComment1}, #{articleComment2}, #{articleComment3}, #{articleComment4}, #{articleComment5}, #{gblSeq}, SYSDATE(), #{memorandumSeq}
			)
	</insert>
	
	<insert id="insertMemorandumIb" parameterType="Memorandum">
		INSERT INTO
			memorandum_ib
			(
				type, subject, comment, area, articles, article_comment1, article_comment2, article_comment3, article_comment4, article_comment5, gbl_seq, write_date, memorandum_list_seq
			)
		VALUES
			(
				#{type}, #{subject}, #{comment}, #{area}, #{articles}, #{articleComment1}, #{articleComment2}, #{articleComment3}, #{articleComment4}, #{articleComment5}, #{gblSeq}, SYSDATE(), #{memorandumSeq}
			)
	</insert>
	
	<insert id="insertInvoiceMemorandum" parameterType="Memorandum">
		INSERT INTO
			memorandum
			(
				type, memorandum_list_seq, gbl_seq, write_date
				<choose>
					<when test="type == '04'">
						, extra_pick_up_charge
					</when>
					<when test="type == '05'">
						, termination
					</when>
					<when test="type == '06'">
						, sit_start_date
					</when>
					<when test="type == '07'">
						, sit_end_date
					</when>
					<when test="type == '08'">
						, long_carry
					</when>					
				</choose>
			)
			VALUES
			(
				#{type},
				#{memorandumSeq},
				#{gblSeq},
				SYSDATE(),
				#{invoiceValue}
			)
	</insert>
	
	<insert id="insertInvoiceMemorandumIb" parameterType="Memorandum">
		INSERT INTO
			memorandum_ib
			(
				type, memorandum_list_seq, gbl_seq, write_date
				<choose>
					<when test="type == '04'">
						, extra_pick_up_charge
					</when>
					<when test="type == '05'">
						, termination
					</when>
					<when test="type == '06'">
						, sit_start_date
					</when>
					<when test="type == '07'">
						, sit_end_date
					</when>
					<when test="type == '08'">
						, long_carry
					</when>					
				</choose>
			)
			VALUES
			(
				#{type},
				#{memorandumSeq},
				#{gblSeq},
				SYSDATE(),
				#{invoiceValue}
			)
	</insert>
	
	<update id="modifyInvoiceMemorandum" parameterType="Memorandum">
		UPDATE
			memorandum
		SET
			<choose>
				<when test="type == '04'">
					extra_pick_up_charge = #{invoiceValue}
				</when>
				<when test="type == '05'">
					termination = #{invoiceValue}
				</when>
				<when test="type == '06'">
					sit_start_date = #{invoiceValue} 
				</when>
				<when test="type == '07'">
					sit_end_date = #{invoiceValue}
				</when>
				<when test="type == '08'">
					long_carry = #{invoiceValue}
				</when>					
			</choose>
		WHERE
			gbl_seq = #{gblSeq}
		AND
			memorandum_list_seq = #{memorandumSeq}
		AND
			type = #{type}
	</update>
	
	<update id="modifyInvoiceMemorandumIb" parameterType="Memorandum">
		UPDATE
			memorandum_ib
		SET
			<choose>
				<when test="type == '04'">
					extra_pick_up_charge = #{invoiceValue}
				</when>
				<when test="type == '05'">
					termination = #{invoiceValue}
				</when>
				<when test="type == '06'">
					sit_start_date = #{invoiceValue} 
				</when>
				<when test="type == '07'">
					sit_end_date = #{invoiceValue}
				</when>
				<when test="type == '08'">
					long_carry = #{invoiceValue}
				</when>					
			</choose>
		WHERE
			gbl_seq = #{gblSeq}
		AND
			memorandum_list_seq = #{memorandumSeq}
		AND
			type = #{type}
	</update>
	
	<update id="updateMemorandum" parameterType="Memorandum">
	    UPDATE
	    	memorandum
	    SET
	    	subject = #{subject},
	    	comment = #{comment},
	    	area = #{area},
	    	articles = #{articles},
	    	article_comment1 = #{articleComment1},
	    	article_comment2 = #{articleComment2},
	    	article_comment3 = #{articleComment3},
	    	article_comment4 = #{articleComment4},
	    	article_comment5 = #{articleComment5}
	    WHERE
	    	gbl_seq = #{gblSeq}
	    AND
	    	type = #{type}	    
	</update>
	
	<update id="updateMemorandumIb" parameterType="Memorandum">
	    UPDATE
	    	memorandum_ib
	    SET
	    	subject = #{subject},
	    	comment = #{comment},
	    	area = #{area},
	    	articles = #{articles},
	    	article_comment1 = #{articleComment1},
	    	article_comment2 = #{articleComment2},
	    	article_comment3 = #{articleComment3},
	    	article_comment4 = #{articleComment4},
	    	article_comment5 = #{articleComment5}
	    WHERE
	    	gbl_seq = #{gblSeq}
	    AND
	    	type = #{type}	    
	</update>
	
	<delete id="deleteMemorandum" parameterType="Memorandum">
		DELETE FROM
			memorandum
		WHERE
			gbl_seq = #{gblSeq}
		AND
			type = #{type}
		AND
			memorandum_list_seq = #{memorandumSeq}
	</delete>
	
	<delete id="deleteMemorandumIb" parameterType="Memorandum">
		DELETE FROM
			memorandum_ib
		WHERE
			gbl_seq = #{gblSeq}
		AND
			type = #{type}
		AND
			memorandum_list_seq = #{memorandumSeq}
	</delete>
	
	<delete id="deleteMemorandumAllList" parameterType="MemorandumList">
		DELETE FROM
			memorandum_list
		WHERE
			gbl_seq = #{gblSeq}
		AND
			seq = #{seq}
	</delete>
	
	<delete id="deleteMemorandumAllListIb" parameterType="MemorandumList">
		DELETE FROM
			memorandum_list_ib
		WHERE
			gbl_seq = #{gblSeq}
		AND
			seq = #{seq}
	</delete>
</mapper>