<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="outboundMapper">

<resultMap type="GBL" id="GblMap">
	<result column="seq" property="seq" />
	<result column="no" property="no" />
	<result column="pud" property="pud" />
	<result column="rank" property="rank" />
	<result column="code" property="code" />
	<result column="scac" property="scac" />
	<result column="customer_name" property="customerName" />
	<result column="area" property="areaLocal" />
	<result column="us_no" property="usNo" />
	<result column="dest_port" property="destPort"/>
</resultMap>

<resultMap type="GBLStatus" id="StatusMap">
	<result column="gbl_no" property="no"/>
	<result column="gbl_input" property="input" />
	<result column="gbl_preperation" property="preperation" />
	<result column="gbl_delivery" property="delivery" />
	<result column="gbl_invoice" property="invoice" />
	<result column="gbl_arrival" property="arrival" />
	<result column="gbl_process" property="process" />
</resultMap>

<select id="getGblListCount" parameterType="OutboundFilter" resultType="Integer">
	SELECT
		count(*)
	FROM
		gbl
	WHERE
		1 = 1
		<if test="branch != null and branch != ''">
			AND		
				area = #{branch}			
		</if>
		<if test="carrier != null and carrier != ''">
			AND
				scac = #{carrier}
		</if>
		<if test="code != null and code != ''">
			AND
				code = #{code}
		</if>
		<if test="startPud != null and startPud != ''">
			AND
				pud &gt;= str_to_date(#{startPud}, '%Y%m%d')
		</if>
		<if test="endPud != null and endPud != ''">
			AND
				pud &lt;= str_to_date(#{endPud}, '%Y%m%d')
		</if>
</select>

<select id="getGblList" parameterType="OutboundFilter" resultMap="GblMap">
	SELECT 
		*
	FROM	
		(
			SELECT
				(@rownum := @rownum + 1) AS rownum,
				g.seq,
				g.no,
				g.pud,
				g.rank,
				g.code,
				g.scac,
				g.customer_name,
				g.area,
				g.us_no,
				g.dest_port
			FROM
				gbl g, (SELECT @rownum := 0) r
			WHERE
				1 = 1
				<if test="branch != null and branch != ''">
					AND		
						area = #{branch}			
				</if>
				<if test="carrier != null and carrier != ''">
					AND
						scac = #{carrier}
				</if>
				<if test="code != null and code != ''">
					AND
						code = #{code}
				</if>
				<if test="startPud != null and startPud != ''">
					AND
						pud &gt;= str_to_date(#{startPud}, '%Y%m%d')
				</if>
				<if test="endPud != null and endPud != ''">
					AND
						pud &lt;= str_to_date(#{endPud}, '%Y%m%d')
				</if>
			ORDER BY
				g.seq
		)u	
	WHERE rownum BETWEEN #{pagination.itemSeqBegin} AND #{pagination.itemSeqEnd}
</select>

<select id="getCarrierList" resultType="Code">
	SELECT DISTINCT
		scac AS subCode
	FROM
		gbl	
</select>

<select id="getCodeList" resultType="Code">
	SELECT DISTINCT
		code AS subCode
	FROM
		gbl	
</select>

<select id="getGblProcess" parameterType="String" resultMap="StatusMap">
	SELECT
		gbl_no, gbl_input, gbl_preperation, gbl_delivery, gbl_invoice, gbl_arrival, gbl_process
	FROM
		gbl_status
	WHERE
		gbl_no = (select no from gbl where seq = #{seq})
</select>

<insert id="insertGbl" parameterType="GBL">
	INSERT INTO
		gbl
		(
			no, customer_name, rank, code, scac, origin_gblock, dest_gblock, pud, ssn, rdd, pod, poe, area, origin_address, us_no, dest_port, origin_port, origin_city, mil_svc
		)
	VALUES
		(
			#{no}, #{customerName}, #{rank}, #{code}, #{scac}, #{originGBlock}, #{destGBlock}, #{pud}, #{ssn}, #{rdd}, #{pod}, #{poe}, #{areaLocal}, #{originAddress}, #{usNo}, #{destPort}, #{originPort}, #{originCity}, #{milSVC}		
		)
</insert>

<insert id="insertGblStatus" parameterType="GBL">
	INSERT INTO
		gbl
		(
			gbl_no, gbl_input, gbl_preperation, gbl_delivery, gbl_invoice, gbl_arrival, gbl_process
		)
	VALUES
		(
			#{no}, 1, 0, 0, 0, 0, 0
		)
</insert>
</mapper>