<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="outboundMapper">

<resultMap type="GBL" id="GblMap">
	<result column="seq" property="seq" />
	<result column="no" property="no" />
	<result column="pud" property="pud" />
	<result column="rank" property="rank" />
	<result column="code" property="code" />
	<result column="scac" property="scac" />
	<result column="ssn" property="ssn" />
	<result column="customer_name" property="customerName" />
	<result column="area" property="areaLocal" />
	<result column="us_no" property="usNo" />
	<result column="dest_port" property="destPort"/>
</resultMap>

<resultMap type="GBLStatus" id="StatusMap">
	<result column="gbl_no" property="no"/>
	<result column="gbl_input" property="input" />
	<result column="gbl_preperation" property="preperation" />
	<result column="gbl_delivery" property="delivery" />
	<result column="gbl_invoice" property="invoice" />
	<result column="gbl_arrival" property="arrival" />
	<result column="gbl_process" property="process" />
</resultMap>

<resultMap type="GBLAttachment" id="GBLAttachmentMap">
	<result column="seq" property="seq"/>
	<result column="gbl_no" property="gblNo"/>
	<result column="file_name" property="fileName"/>
	<result column="file_path" property="filePath"/>
	<result column="file_extension" property="fileExtension"/>
	<result column="file_size" property="fileSize"/>
	<result column="gbl_file_no" property="gblFileNo"/>
	<result column="gbl_update_date" property="gblUpdateDate"/>
</resultMap>

<resultMap type="PreMoveSurvey" id="PreMoveSurveyMap">
	<result column="seq" property="seq"/>
	<result column="estimate_weight" property="estimateWeight"/>
	<result column="special_item" property="specialItem"/>
	<result column="es_container" property="esContainer"/>
	<result column="third_party" property="thirdParty"/>
	<result column="fire_arms" property="fireArms"/>
	<result column="remark" property="remark"/>
	<result column="gbl_seq" property="gblSeq"/>
</resultMap> 

<resultMap type="Dd619" id="Dd619Map">
	<result column="seq" property="seq"/>
	<result column="gbl_no" property="gblNo"/>
	<result column="date" property="date"/>
	<result column="name" property="name"/>
	<result column="ssn" property="ssn"/>
	<result column="rank" property="rank"/>
	<result column="origin_of_shipment" property="originOfShipment"/>
	<result column="destination" property="destination"/>
	<result column="ordering_activity_name" property="orderingActivityName"/>
	<result column="carrier_name" property="carrierName"/>
	<result column="agent_name" property="agentName"/>
	<result column="signature" property="signature"/>
	<result column="carrier_shipment_reference" property="carrierShipmentReference"/>
	<result column="code" property="code"/>
	<result column="other" property="other"/>
	<result column="total" property="total"/>
	<result column="remark" property="remark"/>
	<result column="officer_material" property="officerMaterial"/>
	<result column="officer_signature" property="officerSignature"/>
	<result column="officer_date" property="officerDate"/>
	<result column="rank_and_name" property="rankAndName"/>
	<result column="transportation_date" property="transportationDate"/>
	<result column="gbl_seq" property="gblSeq"/>
	<result column="write_date" property="writeDate"/>
	<result column="write_user" property="writeUser"/>
</resultMap>

<select id="getGblListCount" parameterType="OutboundFilter" resultType="Integer">
	SELECT
		count(*)
	FROM
		gbl
	WHERE
		1 = 1
		<if test="branch != null and branch != ''">
			AND		
				area = #{branch}			
		</if>
		<if test="carrier != null and carrier != ''">
			AND
				scac = #{carrier}
		</if>
		<if test="code != null and code != ''">
			AND
				code = #{code}
		</if>
		<if test="startPud != null and startPud != ''">
			AND
				pud &gt;= str_to_date(#{startPud}, '%Y%m%d')
		</if>
		<if test="endPud != null and endPud != ''">
			AND
				pud &lt;= str_to_date(#{endPud}, '%Y%m%d')
		</if>
</select>

<select id="getGblList" parameterType="OutboundFilter" resultMap="GblMap">
	SELECT 
		*
	FROM	
		(
			SELECT
				(@rownum := @rownum + 1) AS rownum,
				g.seq,
				g.no,
				g.pud,
				g.rank,
				g.code,
				g.scac,
				g.customer_name,
				g.area,
				g.us_no,
				g.dest_port
			FROM
				gbl g, (SELECT @rownum := 0) r
			WHERE
				1 = 1
				<if test="branch != null and branch != ''">
					AND		
						area = #{branch}			
				</if>
				<if test="carrier != null and carrier != ''">
					AND
						scac = #{carrier}
				</if>
				<if test="code != null and code != ''">
					AND
						code = #{code}
				</if>
				<if test="startPud != null and startPud != ''">
					AND
						pud &gt;= str_to_date(#{startPud}, '%Y%m%d')
				</if>
				<if test="endPud != null and endPud != ''">
					AND
						pud &lt;= str_to_date(#{endPud}, '%Y%m%d')
				</if>
			ORDER BY
				g.seq
		)u	
	WHERE rownum BETWEEN #{pagination.itemSeqBegin} AND #{pagination.itemSeqEnd}
</select>

<select id="getGbl" parameterType="Integer" resultMap="GblMap">
	SELECT
		g.seq,
		g.no,
		g.pud,
		g.rank,
		g.code,
		g.scac,
		g.ssn,
		g.customer_name,
		g.area,
		g.us_no,
		g.dest_port
	FROM
		gbl g
	WHERE
		g.seq = #{seq}
</select>

<select id="getCarrierList" resultType="Code">
	SELECT DISTINCT
		scac AS subCode
	FROM
		gbl	
</select>

<select id="getCodeList" resultType="Code">
	SELECT DISTINCT
		code AS subCode
	FROM
		gbl	
</select>

<select id="getGblProcess" parameterType="Integer" resultMap="StatusMap">
	SELECT
		gbl_no, gbl_input, gbl_preperation, gbl_delivery, gbl_invoice, gbl_arrival, gbl_process
	FROM
		gbl_status
	WHERE
		gbl_no = (select no from gbl where seq = #{value})
</select>

<select id="getGblFileList" parameterType="Integer" resultMap="GBLAttachmentMap">
	SELECT
		seq, gbl_no, file_name, file_path, file_extension, file_size, gbl_file_no, gbl_update_date
	FROM
		gbl_attachments
	WHERE
		gbl_no = (select no from gbl where seq = ${value})
</select>

<select id="getFileInfo" parameterType="Map" resultMap="GBLAttachmentMap">
	SELECT
		seq, gbl_no, file_name, file_path, file_extension, file_size, gbl_file_no, gbl_update_date
	FROM
		gbl_attachments
	WHERE
		seq = #{seq}
	AND
		gbl_file_no = #{flag}
</select>

<select id="getGblStatus" parameterType="OutboundFilter" resultMap="StatusMap">
</select>

<select id="getPreMoveSurvey" parameterType="Integer" resultMap="PreMoveSurveyMap">
	SELECT
		seq, estimate_weight, special_item, es_container, third_party, fire_arms, remark, gbl_seq
	FROM
		pre_move_survey
	WHERE
		gbl_seq = #{seq}
</select>

<select id="getDd619List" parameterType="String" resultMap="Dd619Map">
	SELECT
		seq, gbl_no, date, name, ssn, rank, origin_of_shipment, destination, ordering_activity_name, carrier_name, agent_name, signature, carrier_shipment_reference, code, other, total, remark, officer_material, officer_signature, officer_date, rank_and_name, transportation_date, gbl_seq, write_date, write_user
	FROM
		dd619
	WHERE
		gbl_seq = #{seq}
</select>

<select id="getWeightcertificateList" parameterType="String" resultType="Weightcertificate">
        SELECT
        	seq, piece, type, gross, tare, net, cuft, remark, gbl_seq AS gblSeq, date AS date
        FROM
        	weight_certificate
        WHERE
        	gbl_seq = #{value}
</select>

<insert id="insertGbl" parameterType="GBL">
	INSERT INTO
		gbl
		(
			no, customer_name, rank, code, scac, origin_gblock, dest_gblock, pud, ssn, rdd, pod, poe, area, origin_address, us_no, dest_port, origin_port, origin_city, mil_svc
		)
	VALUES
		(
			#{no}, #{customerName}, #{rank}, #{code}, #{scac}, #{originGBlock}, #{destGBlock}, #{pud}, #{ssn}, #{rdd}, #{pod}, #{poe}, #{areaLocal}, #{originAddress}, #{usNo}, #{destPort}, #{originPort}, #{originCity}, #{milSVC}		
		)
</insert>

<insert id="insertGblStatus" parameterType="GBL">
	INSERT INTO
		gbl
		(
			gbl_no, gbl_input, gbl_preperation, gbl_delivery, gbl_invoice, gbl_arrival, gbl_process
		)
	VALUES
		(
			#{no}, 1, 0, 0, 0, 0, 0
		)
</insert>

<insert id="insertAttachment" parameterType="GBLAttachment">
	INSERT INTO
		gbl_attachments
		(
			gbl_no, file_name, file_path, file_extension, file_size, gbl_file_no, gbl_update_date
		)
	VALUES
		(
			#{gblNo}, #{fileName}, #{filePath}, #{fileExtension}, #{fileSize}, #{gblFileNo}, SYSDATE()
		)
</insert>

<insert id="insertPreMoveSurvey" parameterType="PreMoveSurvey">
	INSERT INTO
		pre_move_survey
		(
			estimate_weight,
			special_item,
			es_container,
			third_party,
			fire_arms,
			remark,
			gbl_seq
		)
	VALUES
		(
			#{estimateWeight},
			#{specialItem},
			#{esContainer},
			#{thirdParty},
			#{fireArms},
			#{remark},
			#{gblSeq}
		)
</insert>

<insert id="insertDd619" parameterType="Dd619">
	INSERT INTO
		dd619
		(
			gbl_no, date, name, 
			ssn, rank, origin_of_shipment, destination, 
			ordering_activity_name, carrier_name, agent_name, 
			signature, carrier_shipment_reference, code, 
			other, total, remark, officer_material, officer_signature, 
			officer_date, rank_and_name, transportation_date, 
			gbl_seq, write_date, write_user
		)
	VALUES
	(
		#{gblNo}, #{date}, #{name}, #{ssn}, #{rank}, #{originOfShipment}, #{destination},
		#{orderingActivityName}, #{carrierName}, #{agentName}, #{signature}, #{carrierShipmentReference},
		#{code}, #{other}, #{total}, #{remark}, #{officerMaterial}, #{officerSignature}, #{officerDate},
		#{rankAndName}, #{transportationDate}, #{gblSeq}, SYSDATE(), #{writeUser}
	)
</insert>

<insert id="insertWeightcertificate" parameterType="Weightcertificate">
     INSERT INTO
     	weight_certificate
     	(
     		piece, type, status, gross, tare, net, cuft, remark, gbl_seq, date
     	)   
     VALUES
    	(
    		#{piece}, #{type}, #{status}, #{gross}, #{tare}, #{net}, #{cuft}, #{remark}, #{gblSeq}, #{date}
    	)
</insert>

<update id="updatePreMoveSurvey" parameterType="PreMoveSurvey">
	UPDATE
		pre_move_survey
	SET
		estimate_weight = #{estimateWeight},
		special_item = #{specialItem},
		es_container = #{esContainer},
		third_party = #{thirdParty},
		fire_arms = #{fireArms},
		remark = #{remark}
	WHERE
		gbl_seq = #{gblSeq}
</update>

<update id="updateDd619" parameterType="Dd619">
    UPDATE
    	dd619
    SET
    	date = #{date},
    	name = #{name},
    	ssn = #{ssn},
    	rank = #{rank},
    	origin_of_shipment = #{originOfShipment},
    	destination = #{destination},
    	ordering_activity_name = #{orderingActivityName},
    	carrier_name = #{carrierName},
    	agent_name = #{agentName},
    	signature = #{signature},
    	carrier_shipment_reference = #{carrierShipmentReference},
    	code = #{code},
    	other = #{other},
    	remark = #{remark},
    	officer_material = #{officerMaterial},
    	officer_signature = #{officerSignature},
    	rank_and_name = #{rankAndName},
    	transportation_date = #{transportationDate},
    	update_date = SYSDATE(),
    	update_user = #{writeUser},
    WHERE
    	seq = #{seq}
</update>

<update id="updateGblStatus" parameterType="Map">
    UPDATE
    	gbl_status
    SET
    	<if test="status == 1">
    		gbl_preperation = 1
    	</if>    
    WHERE
    	gbl_no = (select no from gbl where seq = #{seq});
</update>
</mapper>